{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block body_class %}template-aboutpage{% endblock %}
{% block content %}
{% image page.image original as imag %}
<section class="meet_glenn_sections top_header_margin" style="background:#000 url({{ imag.url }}) no-repeat bottom left;">
    <div class="right_text_section">
        <h1> {{ page.heading }} </h1>
        <p> {{ page.description }} </p>
        <a href="https://www.glennllopis.com/" target="_blank">Learn more <span>on www.glennllopis.com</span></a>
    </div>
    <div class="clear"></div>
</section>
<section class="about_section">
    <div class="our_team_section">
        <div class="container">
            {% for item in page.title_with_desc %}
                {% if item.value.heading %}
                    <h2> {{ item.value.heading }} </h2>
                {% endif %}
                {% if item.value.description %}
                    <p> {{ item.value.description }} </p>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>
<section class="our_team_section aboutpage_section">
    <div class="container">
        <h2 class="about_section_team">Our Leadership Team</h2>
        <div class="flex_section">
            {% for teamdetail in team %}
                <div class="team_content">
                    <div class="team_img_section">
                        {% image teamdetail.initial_image original as img %}
                        <img class="left_img over" src="{{ img.url }}" alt="{{ img.image }}" data-wow-delay="0.1s">
                        {% image teamdetail.teamimage_thumbnail original as thumb_img %}
                        <img class="under" src="{{ thumb_img.url }}" alt="{{ thumb_img.image }}">
                        <span class="overlay"></span>
                        {% if teamdetail.gender == 'm' %}
                            <a href="" class="h2_left popup_triggers" data-id= "{{ teamdetail.sort_order }}"  data-class="teampopup">What is he solving for? </a>
                        {% else %}
                            <a href="" class="h2_left popup_triggers" data-id= "{{ teamdetail.sort_order }}"  data-class="teampopup">What is she solving for? </a>
                        {% endif %}
                    </div>
                    <p class="name_text"> {{ teamdetail.team_name }} </p>
                    {% if teamdetail.team_designation %}
                        <p class="desg_text"> {{ teamdetail.team_designation }} </p>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
    {% for teamdetail in team %}
        <div class="content_popup_wrapper hide" id= "{{ teamdetail.sort_order }}">
            <a href="#" class="close_ic"><i class="icon icon-close"></i></a>
            <div class ="content_wrapper">
                <div class="img_section">
                    <div class="name_block mobile">
                        <h2> {{ teamdetail.team_name }} </h2>
                        <p class="small_text"> {{ teamdetail.team_designation }} </p>
                    </div>
                    {% image teamdetail.teamimage original as img %}
                    <img src="{{ img.url }}" alt="noimg">
                </div>
                <div class="content_section">
                    <div class="name_block desktop">
                        <h2> {{ teamdetail.team_name }} </h2>
                        {% if teamdetail.team_designation %}
                            <p class="small_text">{{ teamdetail.team_designation }}</p>
                        {% endif %}
                    </div>
                    {% if teamdetail.solving_for %}
                        {% if teamdetail.gender == 'm' %}
                            <h3> What is he solving for? </h3>
                        {% else %}
                            <h3> What is she solving for? </h3>
                        {% endif %}
                        <p class="bold_txt">{{ teamdetail.solving_for }}</p>
                    {% endif %}
                    {% if teamdetail.background|striptags %}
                        <h3>Background</h3>
                        <p> {{ teamdetail.background|richtext }} </p>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
</section>
{% endblock %}
