{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-bookpage{% endblock %}

{% block content %}
<section class="top_book_section top_header_margin">
    <div class="book_container">
        <div class="left_img_section">
            {% image page.book_image original %}
        </div>
        <div class="right_content_section">
            <div class="book_description">
                <h1> {{ page.title }} </h1>
                {% if page.sub_header %}
                    <h2>  {{ page.sub_header }} </h2>
                {% endif %}
                {% if page.description|striptags %}
                    {{ page.description|richtext }}
                {% endif %}
            </div>
            <div class="order_section">
                    <img src="{% static 'graphics/amazone.png' %}" alt="amazone">
                    {% if page.price %}
                        <p class="price"> ${{ page.price }} </p>
                    {% endif %}
                {% if page.release_date %}
                    <div class="left">
                        <p class="small_txt">The book will be released on {{ page.release_date|date:"F d, Y" }} </p>
                    </div>
                {% endif %}
                <div class="right">
                    <a href="https://www.amazon.com/gp/product/1733812512/ref=dbs_a_def_rwt_bibl_vppi_i1" target="_blank">Order Now!</a>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</section>
<section class="bottom_video_section">
    <div class="video_frame">
        {% if page.vimeo_video_id %}
            <iframe src="//player.vimeo.com/video/{{ page.vimeo_video_id }}" ></iframe>
        {% elif page.youtube_video_id %}
            <iframe src="http://www.youtube.com/embed/{{ page.youtube_video_id }} "></iframe>
        {% endif %}
    </div>
</section>

{% endblock %}
