{% extends "base.html" %}

{% load static wagtailuserbar wagtailcore_tags wagtailimages_tags home_tags %}
{# {% load base_tags %} #}
{% block content %}
<section class="contact_section top_header_margin">
    <div id="pop-up-window" class="pop_up_contact">
        <div class="pop_up_content">
            <div class="pop_up_container">
                <span class="icon-close_popup pop-up-close"></span>
                <p class="popup_head">Thank you for contacting us!</p>
                <p>Your request has been received and one of our team members will reply to you within 2 business days.</p>
                <p>If you need immediate assistance, please contact us at <a href="tel:(949) 842-6204">(949) 842-6204.</p>
                <a class="nav_button" href="/">Go to home</a>
            </div>
        </div>
    </div>
    <div class="container">
        <h1> <span class="special_case">| </span>{{ page.title|custom_title|safe }} </h1>
        <p> {{ page.intro }} </p>
        <form action="/form_submission/" method="POST" role="form" id="contact_form" class="contact_us_form">
            {% csrf_token %}
            <div class="name_section">
                <input type="text" name="first_name" placeholder="First Name*" maxlength="150" required="" id="id_first_name" class="contact_input inputText">
                <input type="text" name="last_name" placeholder="Last Name*" maxlength="150" required="" id="id_last_name" class="contact_input inputText">
            </div>
            <div class="clear"></div>
            <input type="text" name="job_title" placeholder="Job Title*" maxlength="100" id="id_job_title" required="" class="contact_input inputText">
            <input type="text" name="company" placeholder="Company*" required="" maxlength="255" id="id_company" class="contact_input inputText">
            <div class="name_section">
                <input type="email" name="email" placeholder="Email*" required="" id="id_email" class="contact_input inputText">
                <input type="tel" name="phone" placeholder="Phone*" maxlength="100" required="" id="id_phone" class="contact_input inputText us_phone">
            </div>
            <input type="text" name="comment" required="" placeholder="How did you hear about us?*" id="id_comment" class="contact_input inputText">
            <input type="text" name="message" required="" placeholder="Message*" id="id_message" class="contact_input inputText">
            <div class="contact_btn">
                <input type="submit" class="btn_submit" id="contact_btn_txt" value="Submit"></inpout>
            </div>
        </form>
        {% if messages %}
            {% for message in messages %}
              <p class="success_msg" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
            {% endfor %}
        {% endif %}
    </div>
</section>
{% endblock %}
