{% extends "base.html" %}
{% load static home_tags %}
{% load wagtailcore_tags wagtailimages_tags  %}
{% block body_class %}template-homepage{% endblock %}
{% block extra_css %}
{% endblock extra_css %}
{% block content %}
<div class="home_page_template" style="display:none">
<div class="videopopup bg__ovr" id="modal_video">
    <div class="videopopup__content">
        <div class="container">
            <div class="header_pop">
                <span class="right icon icon-close"></span>
                <div class="clearfix"></div>
            </div>
            <div class="youtube_wrapper">
                <div class= "video_wrapper">
                    <iframe src="https://player.vimeo.com/video/373941349" width="856" height="481" frameborder="0" allow="autoplay; fullscreen" class="popup_iframe"></iframe>
                    {% for season in seasons %}
                        {% for slider in videos %}
                            {% if slider.season.name == season.name %}
                                <div class="video_popup_container videos{{ slider.id }} hide" data-id="{{ slider.id }}" data-class="{{ slider.season.id }}">
                                    <div class="forbes_section">
                                        <img src="{% static 'graphics/Forbes-logo.svg' %}">
                                        {% for link in slider.forbes_link %}
                                                <p> <a href="{{ link.value.forbes_url }}" target="_blank"> {{ link.value.title }} </a> </p>
                                        {% endfor %}
                                    </div>
                                    <div class="ln_section">
                                        <img src="{% static 'graphics/linkedin-logo.svg' %}">
                                        <ul>
                                            {% for link in slider.linkedin_link %}
                                                <li> <a href="{{ link.value.linkedin_url }}" target="_blank"> {{ link.value.title }} </a></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <div class="call_btn" >
                                        <a href="{% if join %}{% pageurl join %}{% else %}#{% endif %}" class="call_to_action"> Become an Advocate </a>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<section class = "video_slide">
    <div class="video_banner jquery-background-video-wrapper demo-video-wrapper top_header_margin" id="aop">
        <div class="overlay_section"></div>
        {% comment %}
        <div class="video_section">
            <video class="jquery-background-video video_click test" autoplay loop autobuffer muted playsinline preload="auto" poster="{% static 'graphics/video_bg.jpg' %}" id="initial_video">
                    <source src="{% static 'graphics/cropped.mp4' %}" type="video/mp4" />
                    <source src="{% static 'graphics/cropped.mp4' %}" type="video/ogg" />
                    <source src="{% static 'graphics/cropped.mp4' %}" type="video/webm" />
            </video>
        </div>
        {% endcomment %}
        {% for season in seasons  %}
            {% comment %}{% for item in slider.background_video_slider %}{% endcomment %}
            {% for slider in videos %}
                {% if season.name == slider.season.name %}
                    {% if slider.mobile_slider_image %}
                        {% image slider.mobile_slider_image original as img %}
                    {% endif %}

                    {# <div class="overlay_section"></div> #}
                    <div class="video_section video{{ slider.sort_order }} season{{ slider.season.id }} {% if slider.sort_order != 1 or slider.season.id != 1 %}hide{% endif %}" style="background: url({{ img.url }}) ">
                        <video class="jquery-background-video video_click video{{ slider.sort_order }} season{{ slider.season.id }} {% if slider.sort_order != 1 or slider.season.id != 1 %}hide{% else %}test{% endif %}" autoplay loop autobuffer muted playsinline preload="auto" poster="{{ img.url }}" data-id="season{{ slider.season.id }}" id="initial_video">
                            {% if slider.sort_order == 1 and slider.season.id == 1 %}
                                {% if slider.Mp4_video_file %}
                                    <source class="video_id_slider video{{ slider.sort_order }} season{{ slider.season.id }}" src="{{ slider.Mp4_video_file.url }}" type="video/mp4" />
                                {% endif %}
                                {% if slider.Ogv_video_file %}
                                    <source class="video_id_slider video{{ slider.sort_order }} season{{ slider.season.id }}" src="{{ slider.Ogv_video_file.url }}" type="video/ogg" />
                                {% endif %}
                                {% if slider.Webm_video_file %}
                                    <source class="video_id_slider video{{ slider.sort_order }} season{{ slider.season.id }}" src="{{ slider.Webm_video_file.url }}" type="video/webm" />
                                {% endif %}
                            {% else %}
                                {% if slider.Mp4_video_file %}
                                    <source class="video_id_slider video{{ slider.sort_order }} season{{ slider.season.id }}" data-src="{{ slider.Mp4_video_file.url }}" type="video/mp4" />
                                {% endif %}
                                {% if slider.Ogv_video_file %}
                                    <source class="video_id_slider video{{ slider.sort_order }} season{{ slider.season.id }}" data-src="{{ slider.Ogv_video_file.url }}" type="video/ogg" />
                                {% endif %}
                                {% if slider.Webm_video_file %}
                                    <source class="video_id_slider video{{ slider.sort_order }} season{{ slider.season.id }}" data-src="{{ slider.Webm_video_file.url }}" type="video/webm" />
                                {% endif %}
                            {% endif %}
                        </video>
                    </div>
                    <div class="banner_caption video{{ slider.sort_order }} season{{ slider.season.id }} {% if slider.sort_order != 1 or slider.season.id != 1 %}hide{% endif %}">
                        <h1> {{ slider.heading }} </h1>
                        <h2> {{ slider.sub_description }} </h2>
                        <p> {{ slider.description }} </p>
                        <span class="play" data-id="{{ slider.popup_vimeo_id }}" data-class="{{ slider.solution.sort_order }}" data-sol="{{ slider.solution.solution_category.sort_order }} "data-video="videos{{ slider.id }}">Watch Now</span>
                    </div>
            {% comment %}{% endfor %} {% endcomment %}
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>
    <div class="slide_container">
        <div class="featured_projects first_slider_bg">
            {% for season in seasons %}
                <div class="swiper-container featured_swiper first_section wow fadeIn slide{{ season.id }} {% if forloop.counter != 1 %} hide {% endif %}" data-id="slide{{ season.id }}" data-wow-duration="0.5s" id="season{{ season.id }}" data-class="video_slider">
                    <div class="swiper-wrapper">
                        {% comment %}{% for item in slider.background_video_slider %} {% endcomment %}
                        {% for slider in videos %}
                            {% if season.name == slider.season.name %}
                                <div class="swiper-slide first-section" data-id="video{{ slider.sort_order }}.season{{ slider.season.id }}" data-class="season{{ season.id }}" id="slider_id2" data-video="video{{ slider.sort_order }}">
                                    <a href="javascript:void(0)">
                                        <span class="overlay"></span>
                                        {% image slider.initial_image fill-300x169 as imag %}
                                        <img src="{{ imag.url }}" class="img-responsive">
                                        {% if forloop.first %}
                                            <span class="swipe_btn slider_id2">swipe</span>
                                        {% endif %}
                                    </a>
                                    {% image slider.popup_image fill-300x169  as img %}
                                    <img src="{{ img.url }}" class="img-display">
                                    <div class= "overlay_txts">
                                        {% comment %}
                                        <span  class="inside_click" id="inside_click" data-id="{{ slider.popup_vimeo_id }}" data-class="{{ slider.solution.sort_order }}" data-sol="{{ slider.solution.solution_category.sort_order }}" data-video="videos{{ slider.id }}"></span>
                                        {% endcomment %}
                                        {% if slider.slider_heading %}
                                            <h3>{{ slider.slider_heading }}</h3>
                                        {% endif %}
                                        {% if slider.slider_heading %}
                                            <span class="play1">{{ slider.time }}</span>
                                        {% endif %}
                                        {% if slider.slider_heading %}
                                            <div>
                                                <span class="inline_txt">{{ slider.category}} </span>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endif %}
                        {% comment %} {% endfor %} {% endcomment %}
                        {% endfor %}
                    </div>
                    <div class="swiper_direction">
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                </div>
            {% endfor %}
            <div class="season_tab">
                <ul>
                    {% for season in seasons %}
                        {% if not season.coming_soon_text %}
                            <li class="season_tab_link {% if forloop.counter == 1 %}active{% endif %}" data-id="slide{{ season.id }}"><a href="javascript:void(0)" >{{ season.name }}</a>
                        {% else %}
                            <li><a href="javascript:void(0)" class="season_tab_link disable" data-id="slide{{ season.id }}">{{ season.name }}</a>
                            <span class="span_coming disable">{{season.coming_soon_text}}</span></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>
{% comment %}
<section id="shifts">
    <div class ="container">
        <div class="shifts_section">
            <h2> <span class="special_case">|</span> {{ page.shift_section_title|custom_title|safe }} </h2>
            <p> {{ page.shift_section_introduction }} </p>
            <div class = "img_section">
                {% for item in page.shift_section %}
                    {% image item.value.image original as img %}
                    <a class ="shift_click shift{{ item.value.sort_order }} {% if item.value.sort_order == 1 %} active {% endif %}" data-id="shift{{ item.value.sort_order }}"><img src="{{ img.url }}" ></a>
                {% endfor %}
                {% comment %}
                <a class ="shift_click shift2" data-id="shift2"><img src="{% static 'graphics/str2.png' %}"></a>
                <a class ="shift_click shift3" data-id="shift3"><img src="{% static 'graphics/str3.png' %}"></a>
                <a class ="shift_click shift4" data-id="shift4"><img src="{% static 'graphics/str4.png' %}" ></a>
                <a class ="shift_click shift5" data-id="shift5"><img src="{% static 'graphics/str5.png' %}"></a>
            </div>
            {% for item in page.shift_section %}
                <div class = "shift_section wow fadeIn shift{{ item.value.sort_order }} {% if item.value.sort_order != 1 %} hide {% endif %}" data-id="shift{{ item.value.sort_order }}">
                    <h3> {{ item.value.heading }} </h3>
                    <div class= "shifts_details ">
                        {{ item.value.description }}
                    </div>
                     <h4 class="shift_txt">{{ item.value.forbes_link_description }}</h4>
                    <a href="{{ item.value.forbes_url }}" class = "shift_txt shift_button"> Read more on <span class="btn_txt">Forbes<span></a>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="down_arrow v2"><i class="icon icon-arrow_down"></i></div>
</section>
{% endcomment %}
<section class="shift_section" id="shifts">
    <div class= "container">
        <div class="shifts_section">
            <div class="featured_projects team_part">
                <h2> <span class="line"> </span>{{ page.shift_section_title|custom_title|safe }} </h2>
                <p> {{ page.shift_section_introduction }} </p>
                <div class = "shift_outer">
                    <div class="swiper-container shifts_swiper slide_over shift_slide1" data-id="shift_slide1">
                        <div class="swiper-wrapper shift_wrapper">
                            {% for item in page.shift_section %}
                                <div class="swiper-slide shift_slider shift{{ item.value.sort_order }}" data-id="shift{{ item.value.sort_order }}">
                                    <div class="shift_slide {% if item.value.sort_order == 1 %} active {% endif %}">
                                        <a href="javascript:void(0)">
                                         {# {% image item.value.image original as img %} #}
                                         <img src="{{ item.value.image.url }}"  width="103" height="75" class="img-responsive">
                                         <span class="swipe_btn shift">swipe</span>
                                        </a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="swiper_direction necessary_shifts">
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                        </div>
                    </div>
                </div>
            </div>
            {% for item in page.shift_section %}
                <div class = "{% cycle 'shift_odd' 'shift_even' %} shift_sections wow fadeIn shift{{ item.value.sort_order }} {% if item.value.sort_order != 1 %} hide {% endif %}" data-id="shift{{ item.value.sort_order }}">
                    <h3> {{ item.value.heading }} </h3>
                    <div class= "shifts_details ">
                        {{ item.value.description }}
                    </div>
                    {% if item.value.forbes_link_description %}
                        <h4 class="shift_txt">{{ item.value.forbes_link_description|custom_title_blue|safe }}</h4>
                    {% endif %}
                    {% if item.value.forbes_url %}
                        <a href="{{ item.value.forbes_url }}" target="_blank" class = "shift_txt shift_button"> Read more on <span class="btn_txt"><img src="{% static 'graphics/Forbes-logo.svg' %}"></span></a>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        {% comment %}
        <div class="shifts_section_mobile">
            <div class="featured_projects team_part">
                <h2> <span class="special_case"> | </span> {{ page.shift_section_title|custom_title|safe }} </h2>
                <p> {{ page.shift_section_introduction }} </p>
                <div class = "shift_outer">
                    <div class="swiper-container shifts_swiper slide_over slide5" data-id="slide5">
                        <div class="swiper-wrapper shift_wrapper">
                            {% for item in page.shift_section %}
                                <div class="swiper-slide shift_slider shift{{ item.value.sort_order }}" data-id="shift{{ item.value.sort_order }}">
                                    <div class="shift_slide {% if item.value.sort_order == 1 %} active {% endif %}">
                                        <a href="javascript:void(0)">
                                         {% image item.value.image original as img %}
                                         <img src="{{ img.url }}" class="img-responsive">
                                        </a>
                                        <h3> {{ item.value.heading }} </h3>
                                        <div class= "shifts_details ">
                                            {{ item.value.description }}
                                        </div>
                                        {% if item.value.forbes_link_description %}
                                            <h4 class="shift_txt">{{ item.value.forbes_link_description }}</h4>
                                        {% endif %}
                                        {% if item.value.forbes_url %}
                                            <a href="{{ item.value.forbes_url }}" class = "shift_txt shift_button"> Read more on <span class="btn_txt">Forbes</span></a>
                                        {% endif %}
                                        <a class="swipe_btn">swipe</a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endcomment %}
    </div>
    <div class="down_arrow v2"><i class="icon icon-arrow_down"></i></div>
</section>
<section class="meet_glenn_section " style="background:#000 url('/static/graphics/Bitmap.png') no-repeat bottom right;background-size: auto 500px;" id="start">
    <div class ="container">
        <div class="what_section">
            <h2> <span class="line"> </span> {{ page.Where_do_i_start_title|custom_title|safe }} </h2>
            <p> {{ page.where_do_i_start_introduction }} </p>

            {% for item1 in solution_category %}
                <div class="label_text_contain solution{{ item1.sort_order }}">
                    <input type="radio" id="test{{item1.sort_order}}" name="radio-group">
                    <label for="test{{item1.sort_order}}" class="label test{{item1.sort_order}}">{{ item1.title }}</label>
                </div>
                {% for item in item1.solution_set.all|ordersolution %}
                    <div class="col_5 hide test{{item1.sort_order}}" id="col{{ item.sort_order }}">
                        <a href="" class="popup_trigger trigger_active{{ item.sort_order }}" data-id="{{ item.sort_order }}" >
                            <p><span> {{ item.title }} </span></p>
                        </a>
                        <div class="text_img trigger{{ item.sort_order }}">
                            <div>
                                {% image item.image fill-346x195 as img %}
                                <img src="{{ img.url }}">
                                <div class="button_element">
                                    {% if item.button_element %}
                                        {{ item.button_element|safe }}
                                    {% endif %}
                                </div>
                            </div>
                            <p> {{ item.description }} </p>
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
            <div class="clear"></div>
        </div>
    </div>
    <div class="down_arrow"><i class="icon icon-arrow_down"></i></div>
</section>
<section class="consortium_section" id="consortium">
    <div class="featured_projects team_part">
        <div class="team_title">
            <h2> <span class="line"> </span>{{ page.laop_consortium_title|custom_title|safe }} <sup class="circle"> {{ page.laop_consortium_section|consortium_count }} </sup></h2>
        </div>
        <div class="swiper-container featured_swiper slide_over consortium_slide1" data-id="consortium_slide1">
            <div class="swiper-wrapper">
                {% for items in page.laop_consortium_section %}
                    {% for item in page.laop_consortium_section %}
                        {% if forloop.parentloop.counter == item.value.sort_order %}
                            <div class="swiper-slide team_slider team{{ item.value.sort_order }} {% if item.value.sort_order == 1 %} team_bg {% endif %}"  data-id="team{{ item.value.sort_order }}" id="slider_id3">
                               <a href="javascript:void(0)">
                                 <span class="overlay"></span>
                                 {% image item.value.initial_image original as img %}
                                 <img src="{{ img.url }}" class="img-responsive">
                                 {% if forloop.parentloop.first %}
                                    <span class="swipe_btn slider_id3">swipe</span>
                                 {% endif %}
                               </a>
                                {% image item.value.hover_image original as imag %}
                               <img src="{{ imag.url }}" class="img-display">
                            </div>
                            {% comment %}
                            <div class="swiper-slide team_slider team2 " data-id="team2" >
                                   <a href="javascript:void(0)">
                                     <span class="overlay"></span>
                                     <img src="{% static 'graphics/bg_image.png' %}" class="img-responsive">
                                   </a>
                                   <img src="{% static 'graphics/hover_image.png' %}" class="img-display">
                            </div>
                            <div class="swiper-slide team_slider" >
                                   <a href="javascript:void(0)">
                                     <span class="overlay"></span>
                                     <img src="{% static 'graphics/bg_image.png' %}" class="img-responsive">
                                   </a>
                                   <img src="{% static 'graphics/hover_image.png' %}" class="img-display">
                            </div>
                            <div class="swiper-slide team_slider" >
                                   <a href="javascript:void(0)">
                                     <span class="overlay"></span>
                                     <img src="{% static 'graphics/bg_image.png' %}" class="img-responsive">
                                   </a>
                                   <img src="{% static 'graphics/hover_image.png' %}" class="img-display">
                            </div>
                            <div class="swiper-slide team_slider" >
                                   <a href="javascript:void(0)">
                                     <span class="overlay"></span>
                                     <img src="{% static 'graphics/bg_image.png' %}" class="img-responsive">
                                   </a>
                                   <img src="{% static 'graphics/hover_image.png' %}" class="img-display">
                            </div>
                            <div class="swiper-slide team_slider" >
                                   <a href="javascript:void(0)">
                                     <span class="overlay"></span>
                                     <img src="{% static 'graphics/bg_image.png' %}" class="img-responsive">
                                   </a>
                                   <img src="{% static 'graphics/hover_image.png' %}" class="img-display">
                            </div>
                            <div class="swiper-slide team_slider" >
                                   <a href="javascript:void(0)">
                                     <span class="overlay"></span>
                                     <img src="{% static 'graphics/bg_image.png' %}" class="img-responsive">
                                   </a>
                                   <img src="{% static 'graphics/hover_image.png' %}" class="img-display">
                            </div>
                            {% endcomment %}
                        {%endif %}
                    {% endfor %}
                {% endfor %}
            </div>
            <div class="swiper_direction">
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
        <div class="container team_section">
            {% for item in page.laop_consortium_section %}
                <div class="team_data team_section_data team{{ item.value.sort_order }} {% if item.value.sort_order != 1 %} hide {% endif %} " data-id="team{{ item.value.sort_order }}">
                    <div class="team_content">
                        <h2> {{ item.value.name }} </h2>
                        <h3> {{ item.value.brand_identity }} </h3>
                        {% if item.value.quote %}
                            {{ item.value.quote|remquote|safe }}
                        {% endif %}
                        <p> {{ item.value.description }} </p>
                        <a href="javascript:void(0)" class = "shift_txt shift_button popup_triggers" data-id="team{{item.value.sort_order}}" data-class="teampopup"> Read more</a>
                    </div>
                    <div class="team_image">
                        {% image item.value.sketch_image fill-484x424 as img %}
                        <img src="{{ img.url }}" >
                    </div>
                </div>
            {% endfor %}
            {% comment %}
            <div class="team_data team2 hide" data-id="team2">
                <div class="team_content">
                    <h2>Glenn</h2>
                    <p>Glenn Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
                    </p>
                </div>
                <div class="team_image">
                    <img src="{% static 'graphics/pop_image.png' %}" >
                </div>
            </div>
            {% endcomment %}
        </div>

    </div>
    {% for item in page.laop_consortium_section %}

       <div class="content_popup_wrapper hide" id="team{{item.value.sort_order}}">
        <a href="#" class="close_ic"><i class="icon icon-close"></i></a>
            <div class="content_wrapper">
                <div class="img_section">
                    <div class="name_block mobile">
                        <h2> {{ item.value.name }} </h2>
                        {% if item.value.brand_identity %}
                            <p class="small_text">{{ item.value.brand_identity }}</p>
                        {% endif %}
                    </div>
                    {% image item.value.sketch_image original as imag %}
                    <img src="{{ imag.url }}" alt="{{ imag.image }}">
                </div>
                <div class="content_section">
                    <div class="name_block desktop">
                        <h2>{{ item.value.name }}</h2>
                        {% if item.value.brand_identity %}
                            <p class="small_text">{{ item.value.brand_identity }}</p>
                        {% endif %}
                    </div>
                    {% if item.value.quote %}
                        <span> {{ item.value.quote }} </span>
                    {% endif %}
                    {% if item.value.solving_for and item.value.gender == 'm' %}
                        <h3>What is he solving for?</h3>
                        <p class="bold_txt"> {{ item.value.solving_for }} </p>
                    {% elif item.value.solving_for and item.value.gender == 'f'  %}
                        <h3>What is she solving for?</h3>
                        <p class="bold_txt"> {{ item.value.solving_for }} </p>
                    {% endif %}
                    {% if item.value.background|striptags %}
                        <h3>Background</h3>
                        {{ item.value.background|richtext }}
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
    <div class="down_arrow v2"><i class="icon icon-arrow_down"></i></div>
</section>
<section id="movement" class="join_section">
    <div class="container join_movement">
        <div class ="txt_container">
            <h2> <span class="line"> </span>{{ page.join_the_movement_title|custom_title|safe }} </h2>
            {% if page.join_the_movement_subtitle %}
                <h2> <span class="sub_head"> {{ page.join_the_movement_subtitle }} </span> </h2>
            {% endif %}
            {{ page.join_the_movement_description|richtext }}
            <img src="{% static 'graphics/fairfield.png' %}"  class="fairfield_img">
        </div>
        <div class="graphic_section">
            <img src="{% static 'graphics/laop.gif' %}">
            <a href="{% if movement %}{% pageurl movement %}{% else %}#{% endif %}" class = "shift_txt shift_button"> Join the Movement </a>
        </div>
    </div>
    <div class="down_arrow"><i class="icon icon-arrow_down"></i></div>
</section>

<section id="resources">
    <div class="container section_resources">
        <h2> <span class="line"> </span> Other <span class="special_case"> Resources </span> </h2>
        <div class="resource_section">
            <div class="resources">
                {% if book %}
                    {% image book.listing_page_image fill-372x213 as img %}
                    <img src="{{ img.url }}" >
                    <h2> {{ book.listing_page_title }} </h2>
                    <p> {{ book.listing_page_description }} </p>
                    <a href="{% if book %}{% pageurl book %}{% else %}#{% endif %}" class="resource_button"> Read more</a>
                {% endif %}
            </div>
            <div class="resources">
                {% if media %}
                    {% image media.listing_page_image fill-372x213 as imag %}
                    <img src="{{ imag.url }}" >
                    <h2> {{ media.listing_page_title }} </h2>
                    <p> {{ media.listing_page_description }} </p>
                    <a href="{% if media %}{% pageurl media %}{% else %}#{% endif %}" class="resource_button"> Read more</a>
                {% endif %}
            </div>
            <div class="resources">
                {% if white_paper %}
                    {% image white_paper.listing_page_image fill-372x213 as imge %}
                    <img src="{{ imge.url }}" >
                    <h2> {{ white_paper.listing_page_title }} </h2>
                    <p> {{ white_paper.listing_page_description }} </p>
                    <a href="{% if white_paper %}{% pageurl white_paper %}{% else %}#{% endif %}" class="resource_button"> Read more</a>
                {% endif %}
            </div>
        </div>
    </div>
</section>
</div>
{% endblock content %}
