{% extends "base.html" %}

{% load static wagtailuserbar wagtailcore_tags wagtailimages_tags home_tags %}
{# {% load base_tags %} #}
{% block content %}
{% image page.banner_image original as img %}
<section class="join_movement_page video_banner jquery-background-video-wrapper demo-video-wrapper top_header_margin join_movement_overlay" style="background: #000 url({% static 'graphics/join_move_bg.jpg' %}) no-repeat;background-size: cover;background-position: center;">
    <video class="jquery-background-video join-video-bg"  autoplay loop autobuffer muted playsinline preload="auto" poster="{{ page.banner_image }}" id="video_id">
        <source src="{% static 'graphics/consortium.mp4' %}" type="video/mp4" />
        <source src="{% static 'graphics/consortium.ogv' %}" type="video/ogg" />
        <source src="{% static 'graphics/consortium.webm' %}" type="video/webm" />
        <!-- <source src="{% static 'graphics/cropped.webm' %}" type="video/webm" />
        <source src="{% static 'graphics/cropped.ogv' %}" type="video/ogg" />-->
    </video>
    <div class="join_movement_section" >
        <h1> {{ page.join_section_title }} </h1>
        <div class="laop_cons_img">
            <img src="{{ page.laop_consortium_image.url }}" width="479">
        </div>
        <p> {{ page.join_section_introduction }} </p>
        <p class="description"> {{ page.join_section_description }} </p>
        <a href="{% if join %}{% pageurl join %}{% else %}#{% endif %}" class = "shift_button"> Become an Advocate </a>
    </div>
</section>
<section class="social_media_section">
    <div class="social_media_container">
        {% if page.facebook_url %}
            <a href="{{ page.facebook_url }}" target="_blank" class="icon icon-fb"></a>
        {% endif %}
        {% if page.instagram_url %}
            <a href="{{ page.instagram_url }}" target="_blank" class="icon icon-instagram"></a>
        {% endif %}
        {% if page.itunes_url %}
            <a href="{{ page.itunes_url }}" target="_blank" class="icon icon-itunes"></a>
        {% endif %}
        {% if page.linkdln_url %}
            <a href="{{ page.linkdln_url }}" target="_blank" class="icon icon-linkedin"></a>
        {% endif %}
        {% if page.spotify_url %}
            <a href="{{ page.spotify_url }}" target="_blank" class="icon icon-spotify"></a>
        {% endif %}
        {% if page.twitter_url %}
            <a href="{{ page.twitter_url }}" target="_blank" class="icon icon-twitter"></a>
        {% endif %}
        {% if page.vimeo_url %}
            <a href="{{ page.vimeo_url }}" target="_blank" class="icon icon-vimeo"></a>
        {% endif %}
        {% if page.youtube_url %}
            <a href="{{ page.youtube_url }}" target="_blank" class="icon icon-youtube"></a>
        {% endif %}
    </div>
    <div class="down_arrow v2 social_media_arrow"><i class="icon icon-arrow_down"></i></div>
</section>
<section id="resources">
    <div class="container section_resources jm-rel">
       <div class="jm-laop-cons-head"> 
        <h2 class="section_resources_title"> <span class="line"> </span> {{ page.consortium_title|custom_title|safe }}</h2>
        <a class="apply_btn" href="https://laopconsortium.lightspeedvt.com" target="_blank">Advocate Login</a>
      </div>
        <p> {{ page.consortium_introduction }} </p>
        <div class="resource_section">
            {% for item in page.consortium_section %}
                <div class="resources resource_consortium">
                    <div class="resource_title_img">
                        <img src="{{ item.value.image.url }}" class="consortium_img">
                        <h2> {{ item.value.title }} </h2>
                    </div>
                    {{ item.value.description }}
                </div>
            {% endfor %}
        </div>
    </div>
</section>
<section class="advocate_section">
    <div class="container section_resources join_page">
       <h2 class="section_resources_title"> <span class="line"> </span> {{ page.advocate_section_title|custom_title|safe }}</h2>
       <p> {{ page.advocate_section_introduction }} </p>
        <div class="table_container">
            <div class="first_column title"> </div>
            <div class="second_column title"> LAOP Advocate </div>
            <div class="third_column title"> <span class="color_cyan">Committed Enterprise</span> </div>
        </div>
        {% for item in page.advocate_section_description %}
            <div class="table_container">
                <div class="first_column"> {{ item.value.description }} </div>
                {% if item.value.LAOP_Advocate == True %}
                        <div class="second_column icon icon-checkmark color_white"> </div>
                {% else %}
                    <div class="second_column"> </div>
                {% endif %}
                {% if item.value.Commited_Enterprise == True %}
                        <div class="third_column icon icon-checkmark color_cyan"> </div>
                {% else %}
                    <div class="third_column"> </div>
                {% endif %}
            </div>
        {% endfor %}
        <div class="table_container">
            <div class="first_column no_border"></div>
            <div class="second_column no_border">
                <a href="{% if join %}{% pageurl join %}{% else %}#{% endif %}" class = "shift_button"> Apply </a>
            </div>
            <div class="third_column no_border">
                <a href="{% if contact %}{% pageurl contact %}{% else %}#{% endif %}" class = "shift_button color_gray"> Contact us </a>
            </div>
        </div>
    </div>
    <div class="down_arrow social_media_arrow"><i class="icon icon-arrow_down"></i></div>
</section>
<section class="consortium_section" id="join_consortium">
    <div class="featured_projects team_part">
        <div class="team_title">
            <h2> <span class="line"> </span>{{ consortium_obj.laop_consortium_title|custom_title|safe }} <sup class="circle"> {{ consortium_obj.laop_consortium_section|consortium_count }} </sup></h2>
        </div>
        <div class="swiper-container featured_swiper slide_over slide4" data-id="slide4">
            <div class="swiper-wrapper">
                {% for items in consortium_obj.laop_consortium_section %}
                    {% for item in consortium_obj.laop_consortium_section %}
                        {% if forloop.parentloop.counter == item.value.sort_order %}
                            <div class="swiper-slide team_slider team{{ item.value.sort_order }} {% if item.value.sort_order == 1 %} team_bg {% endif %}"  data-id="team{{ item.value.sort_order }}" id="slider_id3">
                               <a href="javascript:void(0)">
                                 <span class="overlay"></span>
                                 {% image item.value.initial_image original as img %}
                                 <img src="{{ img.url }}" class="img-responsive">
                                 {% if forloop.parentloop.first %}
                                    <span class="swipe_btn slider_id3">swipe</span>
                                 {% endif %}
                               </a>
                                {% image item.value.hover_image original as imag %}
                               <img src="{{ imag.url }}" class="img-display">
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>
            <div class="swiper_direction">
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
        <div class="container team_section">
            {% for item in consortium_obj.laop_consortium_section %}
                <div class="team_data team_section_data team{{ item.value.sort_order }} {% if item.value.sort_order != 1 %} hide {% endif %} " data-id="team{{ item.value.sort_order }}">
                    <div class="team_content">
                        <h2> {{ item.value.name }} </h2>
                        <h3> {{ item.value.brand_identity }} </h3>
                        {% if item.value.quote %}
                            {{ item.value.quote }}
                        {% endif %}
                        <p> {{ item.value.description }} </p>
                        <a href="javascript:void(0)" class = "shift_txt shift_button popup_triggers" data-id="team{{item.value.sort_order}}" data-class="teampopup"> Read more</a>
                    </div>
                    <div class="team_image">
                        {% image item.value.sketch_image fill-484x424 as img %}
                        <img src="{{ img.url }}" >
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% for item in consortium_obj.laop_consortium_section %}

       <div class="content_popup_wrapper hide" id="team{{item.value.sort_order}}">
        <a href="#" class="close_ic"><i class="icon icon-close"></i></a>
            <div class="content_wrapper">
                <div class="img_section">
                    <div class="name_block mobile">
                        <h2> {{ item.value.name }} </h2>
                        {% if item.value.brand_identity %}
                            <p class="small_text">{{ item.value.brand_identity }}</p>
                        {% endif %}
                    </div>
                    {% image item.value.sketch_image original as imag %}
                    <img src="{{ imag.url }}" alt="{{ imag.image }}">
                </div>
                <div class="content_section">
                    <div class="name_block desktop">
                        <h2>{{ item.value.name }}</h2>
                        {% if item.value.brand_identity %}
                            <p class="small_text">{{ item.value.brand_identity }}</p>
                        {% endif %}
                    </div>
                    {% if item.value.quote %}
                        <span> {{ item.value.quote }} </span>
                    {% endif %}
                    {% if item.value.solving_for and item.value.gender == 'm' %}
                        <h3>What is he solving for?</h3>
                        <p class="bold_txt"> {{ item.value.solving_for }} </p>
                    {% elif item.value.solving_for and item.value.gender == 'f'  %}
                        <h3>What is she solving for?</h3>
                        <p class="bold_txt"> {{ item.value.solving_for }} </p>
                    {% endif %}
                    {% if item.value.background|striptags %}
                        <h3>Background</h3>
                        {{ item.value.background|richtext }}
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
    <div class="down_arrow v2"><i class="icon icon-arrow_down"></i></div>
</section>
<section class="members-section">
    <div class="members_section">
        <div class="container section_resources join_page">
            <h2 class="section_resources_title members_title"> <span class="line"> </span> {{ page.members_section_title|custom_title|safe }}</h2>
            <div class="members_img_section">
                {% image page.members_section_image original as img %}
                <img src="{{ img.url }}" >
            </div>
        </div>
    </div>
</section>
{% comment %}
<section class="consortium_section" id="consortium1">
    <div class="featured_projects team_part">
        <div class="team_title">
            <h2> <span class="line"> </span>{{ page.roundtables_title|custom_title|safe }}</h2>
        </div>
        <div class="swiper-container shifts_swiper slide_over slide_roundtable" data-id="slide_roundtable">
            <div class="swiper-wrapper">
                {% for item in page.roundtables_section %}
                    <div class="swiper-slide roundtable_slider team{{ item.value.sort_order }} {% if item.value.sort_order == 1 %} team_bg {% endif %}"  data-id="roundtable{{ item.value.sort_order }}" id="slider_id1213">
                       <a href="javascript:void(0)">
                         <span class="overlay"></span>
                         {% image item.value.image original as img %}
                         <img src="{{ img.url }}" class="img-responsive">
                         {% if forloop.first %}
                            <span class="swipe_btn slider_id3">swipe</span>
                         {% endif %}
                       </a>
                       {% image item.value.image original as imag %}
                       <img src="{{ imag.url }}" class="img-display">
                    </div>
                {% endfor %}
            </div>
            <div class="swiper_direction">
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
        <div class="container team_section">
            {% for item in page.roundtables_section %}
                <div class="team_data roundtable roundtable{{ item.value.sort_order }} {% if item.value.sort_order != 1 %} hide {% endif %} " data-id="roundtable{{ item.value.sort_order }}">
                    <div class="team_content join_section">
                        <div class="description_section">
                            <h2> {{ item.value.heading }} </h2>
                            <p> {{ item.value.description }} </p>
                        </div>
                        <div class="btn_section">
                            <a href="{% if item.value.apply_url %}{{ item.value.apply_url }}{% else %}javascript:void(0){% endif %}" class = ""  {% if item.value.apply_url %} target="_blank"{% endif %}> Apply Now</a>
                        </div>
                    </div>

                </div>
            {% endfor %}
        </div>
    </div>
</section>
<section class="consortium_section" id="consortium1">
    <div class="featured_projects team_part">
        <div class="team_title title">
            <h2 class="team_margin"> <span class="line"> </span>{{ page.meetings_title|custom_title|safe }}</h2>
        </div>
        <div class="swiper-container shifts_swiper slide_over slide_meetings" data-id="slide_meetings">
            <div class="swiper-wrapper">
                {% for item in page.meetings_section %}
                    <div class="swiper-slide meetings_slider team{{ item.value.sort_order }} {% if item.value.sort_order == 1 %} team_bg {% endif %}"  data-id="meetings{{ item.value.sort_order }}" id="slider_id1213">
                       <a href="javascript:void(0)">
                         <span class="overlay"></span>
                         {% image item.value.image original as img %}
                         <img src="{{ img.url }}" class="img-responsive">
                         {% if forloop.first %}
                            <span class="swipe_btn slider_id3">swipe</span>
                         {% endif %}
                       </a>
                       {% image item.value.image original as imag %}
                       <img src="{{ imag.url }}" class="img-display">
                    </div>
                {% endfor %}
            </div>
            <div class="swiper_direction">
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
        <div class="container team_section">
            {% for item in page.meetings_section %}
                <div class="team_data meetings meetings{{ item.value.sort_order }} {% if item.value.sort_order != 1 %} hide {% endif %} " data-id="meetings{{ item.value.sort_order }}">
                    <div class="team_content join_section">
                        <div class="description_section">
                            <h2> {{ item.value.heading }} </h2>
                            <p> {{ item.value.description }} </p>
                        </div>
                        <div class="btn_section">
                            <a href="{% if item.value.apply_url %}{{ item.value.apply_url }}{% else %}javascript:void(0){% endif %}" class = ""  > Apply Now</a>
                        </div>
                    </div>

                </div>
            {% endfor %}
        </div>
    </div>
</section>
<section class="consortium_section" id="consortium1">
    <div class="featured_projects team_part">
        <div class="team_title title">
            <h2 class="team_margin"> <span class="line"> </span>{{ page.podcasts_title|custom_title|safe }}</h2>
        </div>
        <div class="swiper-container shifts_swiper slide_over slide_podcasts" data-id="slide_podcasts">
            <div class="swiper-wrapper">
                {% for item in page.podcasts_section %}
                    <div class="swiper-slide podcasts_slider team{{ item.value.sort_order }} {% if item.value.sort_order == 1 %} team_bg {% endif %}"  data-id="podcasts{{ item.value.sort_order }}" id="slider_id1213">
                       <a href="javascript:void(0)">
                         <span class="overlay"></span>
                         {% image item.value.image original as img %}
                         <img src="{{ img.url }}" class="img-responsive">
                         {% if forloop.first %}
                            <span class="swipe_btn slider_id3">swipe</span>
                         {% endif %}
                       </a>
                       {% image item.value.image original as imag %}
                       <img src="{{ imag.url }}" class="img-display">
                    </div>
                {% endfor %}
            </div>
            <div class="swiper_direction">
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
        <div class="container team_section">
            {% for item in page.podcasts_section %}
                <div class="team_data podcasts podcasts{{ item.value.sort_order }} {% if item.value.sort_order != 1 %} hide {% endif %} " data-id="team{{ item.value.sort_order }}">
                    <div class="team_content join_section">
                        <div class="description_section">
                            <h2> {{ item.value.heading }} </h2>
                            <p> {{ item.value.description }} </p>
                        </div>
                        <div class="btn_section">
                            <a href="{% if item.value.apply_url %}{{ item.value.apply_url }}{% else %}javascript:void(0){% endif %}" class = ""  > Apply Now</a>
                        </div>
                    </div>

                </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endcomment %}
{% endblock %}
