{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}{% endblock %}

{% block content %}
    <section class="media_page top_header_margin">
        <div class="container">
            <div class="media_section">
                <h1> <span class="special_case"> | </span> {{ page.title }} </h1>
                <p> {{ page.description }} </p>
            </div>

            <div class="mobile">
                <div class="video_categories">
                    <div class="title">{% for media in medias %}{% if forloop.counter == 1 %}{{ media.category.name }}{% endif %}{% endfor %}</div>
                    <ul class="dropdown hidden">
                        {% for media in medias %}
                            {% if media.media_attachments %}
                                <li><a href="#" class="video_category_title {% if forloop.counter == 1 %}active{% endif %}" data-id="id_data_mobile_{{ media.category.id }}">{{ media.category.name }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>

                {% for media in medias %}
                    <div class="video_mobile_wrapper id_data_mobile_{{ media.category.id }} {% if media.category.id != 1 %} hide {% endif %}" data-id="id_data_{{ media.category.id }}">
                        <h2 style="display: none;">{{ media.category.name }}</h2>
                        <div id="id_data_mobile_{{ media.category.name }}"></div>
                        {% for media_content in media.media_attachments %}

                            {% if media_content.value.media_type == 'video' %}
                                {% comment %}
                                <iframe src="{{ media_content.get_mobile_video }}"></iframe> {% endcomment %}
                                <div class="section">
                                    <a href="{% if media_content.value.vimeo_video_id %}https://player.vimeo.com/video/{{ media_content.value.vimeo_video_id }}{%elif media_content.value.youtube_video_id %}https://www.youtube.com/embed/{{ media_content.value.youtube_video_id }}{% endif %}" class="html5lightbox" data-width="1100" data-height="653.75">
                                    {% image media_content.value.video_thumbnail_image fill-472x269 as img %}
                                    <img class="video_image mobile_video_image" src="{{ img.url }}" alt="" />
                                    </a>
                                    <div class="content_block">
                                        <p class="publication video_publication">{% if media_content.value.title %}{{ media_content.value.title }}{% endif %}</p>
                                        <h3 class="video_title">{% if media_content.value.topic %}{{ media_content.value.topic }}{% endif %}</h3>
                                        <p class="video_description">{% if media_content.value.description %}{{ media_content.value.description }}{% endif %}</p>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            {% else %}
                                <a href="{{ media_content.value.external_url }}" target="_blank">
                                    <div class="section">
                                        {% image media_content.value.video_thumbnail_image fill-472x269 as img %}
                                        <img class="video_image" src="{{ img.url }}" alt="" />
                                        <div class="content_block">
                                            <p class="publication">{% if media_content.value.title %}{{ media_content.value.title }}{% endif %}</p>
                                            <h3 class="video_title">{% if media_content.value.topic %}{{ media_content.value.topic }}{% endif %}</h3>
                                            <p class="video_description">{% if media_content.value.description %}{{ media_content.value.description }}{% endif %}</p>
                                            <p class="play_video"> &gt; See more</p>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </a>
                            {% endif %}
                            <div class="clear"></div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>

            <div class="desktop video_section">
                <ul class="video_categories">
                    {% for media in medias %}
                        <li><span class="video_category_title {% if media.category.id == 1 %}active{% endif %}" data-id="id_data_{{ media.category.id }}">{{ media.category.name }}</span></li>
                    {% endfor %}
                </ul>
                {% for media in medias %}
                    <div class="video_wrapper id_data_{{ media.category.id }} {% if media.category.id != 1 %} hide {% endif %}" data-id="id_data_{{ media.category.id }}">
                        {% for media_content in media.media_attachments %}
                            <a href="{% if media_content.value.vimeo_video_id %}https://player.vimeo.com/video/{{ media_content.value.vimeo_video_id }}{%elif media_content.value.youtube_video_id %}https://www.youtube.com/embed/{{ media_content.value.youtube_video_id }}{% elif media_content.value.external_url %}{{ media_content.value.external_url }}{% endif %}" {% if media_content.value.media_type == 'video' %} class="html5lightbox" data-width="1100" data-height="653.75" {% else %} target="_blank" {% endif %}>
                                <div class="section media_content_list_block">
                                    {% image media_content.value.video_thumbnail_image fill-472x269 as img %}
                                    <img class="video_image" src="{{ img.url }}">
                                    <div class="content_block">
                                        <p class="publication">{% if media_content.value.title %}{{ media_content.value.title }}{% endif %}</p>
                                        <h3 class="video_title">{% if media_content.value.topic %}{{ media_content.value.topic }}{% endif %}</h3>
                                        <p class="video_description">{% if media_content.value.description %}{{ media_content.value.description }}{% endif %}</p>
                                        {% if media_content.value.media_type == 'video' %}
                                            <p class="play_video">Play video</p>
                                        {% else %}
                                            <p class="play_video">Read more...</p>
                                        {% endif %}

                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </a>
                        {% endfor %}
                        <div class="clear"></div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
