{% extends "base.html" %}
{% load static home_tags %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-partnerpage{% endblock %}

{% block content %}
<section class = "partner_section top_header_margin">
    <div class="container">
        <div class="description rich_text testimonial_div">
            <h1><span class="special_case">| </span>{{ page.title|custom_title|safe }}</h1>
            <p>{{ page.description }}</p>
            {% for partner in page.partner_details %}
                <div class="partners_sections">
                        <div class="partner_imgsection">
                            {% image partner.value.image original as img %}
                            {% if partner.value.image %}
                                    <img src="{{ img.url }}" alt="no_img">
                            {% else %}
                                    <img src="" alt="no_img">
                            {% endif %}
                        </div>
                        <div class="partner_txts">
                            <span class="partner_title">{{ partner.value.heading }}</span>
                            <div class="text_align rich_text description">{{ partner.value.description|safe }}</div>
                            <a class="forbes_link" href="{{ partner.value.forbes_url}}" target="_blank">Read more on Forbes</a>
                        </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
