{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}{% endblock %}

{% block content %}
<section class="top_header_margin">
    <div class="container">
            <div class="whitepaper_head">
                <h1> <span class="special_case"> | </span> {{ page.title }}</h1>
                <p> {{ page.description }} </p>
            </div>
    </div>
    <div class="whitepaper_style">
        {% for item in page.whitepaper_section %}
            {% image item.value.banner_image original as img %}
            <div class="container whitepaper_section bg_image" style="background: url({{ img.url }}) no-repeat;background-size: cover;background-position: center;">
                <div class="wh_heading">
                    <h2> {{ item.value.title }} </h2>
                    <p> {{ item.value.whitepaper_description }} </p>
                    <div class="mobile">
                        <a href="{{ item.value.document.url }}" class="shift_button" target="blank" download> Download </a>
                    </div>
                </div>
                <div class="igs_image">
                    <a href="{{ item.value.document.url }}"> {% image item.value.book_image width-248 %} </a>
                </div>
            </div>
            <h2> Organizations and executives featured in this white paper </h2>
            <div class="swiper-container featured_swiper slide_over slider{{ item.value.sort_order }}" data-id="slider{{ item.value.sort_order }}">
                <div class="swiper-wrapper">
                    {% for items in item.value.slider_section %}
                        <div class="swiper-slide wh_slider slider_id{{ item.value.sort_order }} wh{{ item.value.sort_order }} team{{ items.value.sort_order }} {% if items.value.sort_order == 1 %} team_bg {% endif %}" data-id="team{{ items.value.sort_order }}" id="slider_id{{ item.value.sort_order }}" data-class="wh{{ item.value.sort_order }}">
                           <a href="javascript:void(0)">
                             <span class="overlay"></span>
                             {% image items.value.image original as img %}
                             <img src="{{ img.url }}" class="img-responsive">
                             {% if forloop.first %}
                                <span class="swipe_btn slider_id{{ item.value.sort_order }}">swipe</span>
                             {% endif %}
                           </a>
                        </div>
                    {% endfor %}
                </div>
                <div class="swiper_direction">
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>
            <div class="container team_section">
                {% for items in item.value.slider_section %}
                    <div class="team_data team_section_data wh{{ item.value.sort_order }} team{{ items.value.sort_order }} {% if items.value.sort_order != 1 %} hide {% endif %} " data-id="team{{ items.value.sort_order }}">
                        <div class="team_content">
                            <h2> {{ items.value.name }} </h2>
                            <h3> {{ items.value.designation }} </h3>
                            <p> {{ items.value.description }} </p>
                            {% if items.value.forbes_description %}
                                <h4 class="shift_txt">{{ items.value.forbes_description }}</h4>
                            {% endif %}
                            {% if items.value.forbes_url %}
                                <a href="{{ items.value.forbes_url }}" target="_blank" class = "shift_txt shift_button"> Read more on <span class="btn_txt"><img src="{% static 'graphics/Forbes-logo.svg' %}"></span></a>
                            {% endif %}
                        </div>
                        <div class="team_image">
                            {% image items.value.user_image fill-300x300 as img %}
                            <img src="{{ img.url }}" >
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
