{% load static wagtailuserbar pipeline %}
<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <!-- <meta charset="utf-8" /> -->
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <link rel="shortcut icon" href="{% static 'graphics/favicon.ico' %}" type="image/x-icon" />
        {% if self.search_description %}
            <meta name="description" content="{{ self.search_description }}" />
        {% endif %}
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        {# Global stylesheets #}

        {% stylesheet 'main' %}
        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}


        {# Global javascript #}
        {% javascript 'main' %}

        {# Global javascript #}
        {# {% javascript 'main' %} #}

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-34538266-2"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-34538266-2');
        </script>

        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-WZP6X2V');</script>
        <!-- End Google Tag Manager -->
        <!-- Linkedin Manager -->
        <script type="text/javascript">
            _linkedin_partner_id = "879698";
            window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || [];
            window._linkedin_data_partner_ids.push(_linkedin_partner_id);
        </script>
        <script type="text/javascript">
            (function(){var s = document.getElementsByTagName("script")[0];
            var b = document.createElement("script");
            b.type = "text/javascript";b.async = true;
            b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js";
            s.parentNode.insertBefore(b, s);})();
        </script>
        <noscript>
            <img height="1" width="1" style="display:none;" alt="" src="https://dc.ads.linkedin.com/collect/?pid=879698&fmt=gif" />
        </noscript>
        <!-- End -->

    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}
        {% block header %}
            {% include "components/header.html" %}
        {% endblock %}
        {% include "components/download_popup.html" %}
        {% block content %}
        {% endblock %}

        {% block footer %}
            {% include "components/footer.html" %}
        {% endblock %}

    </body>
</html>