{% load wagtailcore_tags wagtailimages_tags  %}
{% block content %}
      <section>
        <div id="pop-up-window" class="pop_up download_pop_up">
            <div class="pop_up_content download_pop_up">
                <div class="pop_up_container">
                    <span class="icon-close_popup pop-up-close"></span>
                    {% image document_obj.image original  as img %}
                    <img src="{{ img.url }}" class="img-responsive">
                    <p class="popup_head download_page">{{document_obj.title}}</p>
                    <p class="popup_head download_page">{{document_obj.sub_title}}</p>
                    <p class="downlaod_description">{{document_obj.description}}</p>
                    <a class="nav_button download_pop_up" href="{{document_obj.pdf_file.url }}" target="blank" download>Download for Free</a>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}