<footer>
 <div class="container">
     <p class="copy_t left">&copy; {% now "Y" %}, Glenn Llopis Group. All Rights Reserved.</p>
     <ul class="right">
        <li><a href="https://www.glennllopis.com/privacy-policy/" target="_blank">Privacy Policy</a></li>
     </ul>
     <div class="clear"></div>
 </div>
</footer>


<div class="overlay_popup bg__ovr">
    <div class="modal_popup_wrapper"></div>
</div>
