{% load static wagtailuserbar wagtailcore_tags %}
<div class="bg_overlay"></div>
<header>
    <div class="top_navbar">
        <div class="top_menu">
            <a class="site_logo" href="/" ><img src="{% static 'graphics/laop_header.svg' %}" class="logo" alt="logo"/></a>
            <a class="mobile_logo" href="/"><img src="{% static 'graphics/laop_mobile.svg' %}" class="logo" alt="logo"/></a>
            <div class="top_right_menu">
                {% if movement %}
                    {% pageurl movement as movement_url %}
                    {% if request.path == movement_url %}
                        <a class="apply_btn advocate" href="{% if join %}{% pageurl join %}{% else %}#{% endif %}">Become an Advocate</a>
                    {% endif %}
                {% endif %}
                {% pageurl join as join_url %}
                {% if request.path != movement_url and request.path != join_url %}
                    <a class="apply_btn" href="{% if movement %}{% pageurl movement %}{% else %}#{% endif %}">Join the Movement</a>
                {% endif %}
                <a href="#" class="toggle_icon"><i class="icon icon-toggle_icon" aria-hidden="true"></i></a>
            </div>
            <div class="clear"></div>
        </div>
        <nav class="sidemenu">
            <a href="#" class="close_icon"><i class="icon icon-close" aria-hidden="true"></i></a>
            <ul class="sidenav_ul">
                <li><a href="/#aop">The Age of Personalization</a></li>
                <li><a href="/#shifts">The Necessary Shifts</a></li>
                <li><a href="/#start">Ok, Where do I Start</a></li>
                <li><a href="/#consortium">The LAOP Consortium</a></li>
                <li><a href="/#movement">Become an Advocate</a></li>
                <li><a href="/#resources">Other Resources</a></li>
                <li><a href="{% if book %}{% pageurl book %}{% else %}#{% endif %}">The Book</a></li>
                <li><a href="{% if media %}{% pageurl media %}{% else %}#{% endif %}">Media</a></li>
                <li><a href="{% if white_paper %}{% pageurl white_paper %}{% else %}#{% endif %}">What Executives are Thinking</a></li>
                <li><a href="https://2019summit.ageofpersonalization.com/" target="_blank">The 2019 Summit Experience</a></li>
                <li><a href="javascript:void(0)" class="download_popup">Download Dignity at Scale</a></li>
                <li><a href="{% if about %}{% pageurl about %}{% else %}#{% endif %}">About GLLG</a></li>
                <li><a href="{% if contact %}{% pageurl contact %}{% else %}#{% endif %}">Contact Us</a></li>
            </ul>
            {% if movement %}
                {% pageurl movement as movement_url %}
                {% if request.path == movement_url %}
                    <a class="apply_btn advocate" href="{% if join %}{% pageurl join %}{% else %}#{% endif %}">Become an Advocate</a>
                {% endif %}
            {% endif %}
            {% if request.path != movement_url and request.path != join_url %}
                <a class="apply_btn" href="{% if movement %}{% pageurl movement %}{% else %}#{% endif %}" >Join the Movement </a>
            {% endif %}
        </nav>
    </div>
</header>
