{% block content %}
{% comment %}
    <p><strong>Firstname : </strong> {{ form.first_name.value }} </p>
    <p><strong>Lastname : </strong> {{ form.last_name.value }} </p>
    <p><strong>Job title : </strong> {{ form.job_title.value }} </p>
    <p><strong>company : </strong> {{ form.company.value }} </p>
    <p><strong>Email : </strong> {{ form.email.value }} </p>
    <p><strong>Phone : </strong> {{ form.phone.value }} </p>
    <p><strong>How did you hear about us : </strong> {{ form.comment.value }} </p>
    <p><strong>Message : </strong> {{ form.message.value }} </p>
    <p> <strong>Being Advocate : </strong> {{ form.being_advocate.value }}</p>
{% endcomment %}
    <p>Hello!</p>
    <p>We always enjoy reviewing applications of energized thinkers who’d like to join the
    <strong>Leadership in the Age of Personalization® Movement</strong> as an Advocate.</p>

    <p>Thank you for interest. This serves as a confirmation that we received your application.</p>

    <p>One of our team members will contact you shortly to inform you about the status of
    your application.</p>

    <p>Sincerely,</p>
    <p>The GLLG team</p>
    <img style="display:block;" src="https://www.ageofpersonalization.com/media/email_img.png" width="200px"/>
{% endblock %}
