{% block content %}

    <p><strong>Firstname : </strong> {{ form.first_name.value }} </p>
    <p><strong>Lastname : </strong> {{ form.last_name.value }} </p>
    <p><strong>Job title : </strong> {{ form.job_title.value }} </p>
    <p><strong>company : </strong> {{ form.company.value }} </p>
    <p><strong>Email : </strong> {{ form.email.value }} </p>
    <p><strong>Phone : </strong> {{ form.phone.value }} </p>
    <p><strong>How did you hear about us : </strong> {{ form.comment.value }} </p>
    <p><strong>Message : </strong> {{ form.message.value }} </p>
    <img style="display:block;" src="https://www.ageofpersonalization.com/media/email_img.png" width="200px"/>

{% endblock %}
