@font-face {
   font-family: ProximaNovaThin;
   font-style: normal;
   font-weight: 100;
   src: url('../fonts/proximanova/thin/fontsfree_net_proxima_nova_thin.eot');
   src: url('../fonts/proximanova/thin/fontsfree_net_proxima_nova_thin.eot') format('embedded-opentype'),
        url('../fonts/proximanova/thin/fontsfree-net-proxima-nova-thin-webfont.woff') format('woff'),
        url('../fonts/proximanova/thin/fontsfree_net_proxima_nova_thin.ttf') format('truetype');
}
@font-face {
    font-family: ProximaNovalt;
    src: url('../fonts/proximanova/light/pn_light.eot');
    src: url('../fonts/proximanova/light/pn_light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/proximanova/light/pn_light.woff2') format('woff2'),
        url('../fonts/proximanova/light/pn_light.woff') format('woff'),
        url('../fonts/proximanova/light/pn_light.ttf') format('truetype'),
        url('../fonts/proximanova/light/pn_light.svg#pn_light') format('svg');
    font-weight: 300;
    font-style: normal;
}
@font-face {
   font-family: ProximaNova;
   font-style: normal;
   font-weight: normal;
   src: url('../fonts/proximanova/regular/ProximaNovaRegular.eot');
   src: url('../fonts/proximanova/regular/ProximaNovaRegular.eot') format('embedded-opentype'),
        url('../fonts/proximanova/regular/ProximaNovaRegular.woff') format('woff'),
        url('../fonts/proximanova/regular/ProximaNovaRegular.ttf') format('truetype'),
        url('../fonts/proximanova/regular/ProximaNovaRegular.svg#ProximaNovaRegular') format('svg');
}
@font-face {
   font-family: ProximaNova;
   font-style: normal;
   font-weight: 600;
   src: url('../fonts/proximanova/semibold/ProximaNovaSemibold.eot');
   src: url('../fonts/proximanova/semibold/ProximaNovaSemibold.eot') format('embedded-opentype'),
        url('../fonts/proximanova/semibold/ProximaNovaSemibold.woff') format('woff'),
        url('../fonts/proximanova/semibold/ProximaNovaSemibold.ttf') format('truetype'),
        url('../fonts/proximanova/semibold/ProximaNovaSemibold.svg#ProximaNovaSemibold') format('svg');
}
@font-face {
   font-family: ProximaNovaBoldItalic;
   font-style: italic;
   font-weight: 700;
   src: url('../fonts/proximanova/bold_italic/FontsFree-Net-Proxima-Nova-Bold-It.eot');
   src: url('../fonts/proximanova/bold_italic/FontsFree-Net-Proxima-Nova-Bold-It.eot') format('embedded-opentype'),
        url('../fonts/proximanova/bold_italic/FontsFree-Net-Proxima-Nova-Bold-It.woff') format('woff'),
        url('../fonts/proximanova/bold_italic/FontsFree-Net-Proxima-Nova-Bold-It.ttf') format('truetype');
}
@font-face {
   font-family: ProximaNova;
   font-style: normal;
   font-weight: 700;
   src: url('../fonts/proximanova/pnbold/ProximaNovaBold.eot');
   src: url('../fonts/proximanova/pnbold/ProximaNovaBold.eot') format('embedded-opentype'),
         url('../fonts/proximanova/pnbold/ProximaNovaBold.woff') format('woff'),
         url('../fonts/proximanova/pnbold/ProximaNovaBold.ttf') format('truetype'),
         url('../fonts/proximanova/pnbold/ProximaNovaBold.svg#ProximaNovaBold') format('svg');
}
@font-face {
   font-family: ProximaNova;
   font-style: normal;
   font-weight: 800;
   src: url('../fonts/proximanova/extra_bold/ProximaNovaExtrabld.eot');
   src: url('../fonts/proximanova/extra_bold/ProximaNovaExtrabld.eot') format('embedded-opentype'),
        url('../fonts/proximanova/extra_bold/ProximaNovaExtrabld.woff') format('woff'),
        url('../fonts/proximanova/extra_bold/ProximaNovaExtrabld.ttf') format('truetype'),
        url('../fonts/proximanova/extra_bold/ProximaNovaExtrabld.svg#ProximaNovaExtrabld') format('svg');
}

@font-face {
    font-family: ProximaNova;
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/proximanova/pnextrabold/ProximaNovaCondExtrabld.eot');
    src: url('../fonts/proximanova/pnextrabold/ProximaNovaCondExtrabld.eot') format('embedded-opentype'),
         url('../fonts/proximanova/pnextrabold/ProximaNovaCondExtrabld.woff') format('woff'),
         url('../fonts/proximanova/pnextrabold/ProximaNovaCondExtrabld.ttf') format('truetype'),
         url('../fonts/proximanova/pnextrabold/ProximaNovaCondExtrabld.svg#ProximaNovaCondExtrabld') format('svg');
}

/*@font-face {
   font-family: ProximaNova;
   font-style: bold;
   font-weight: 900;
   src: url('../fonts/proximanova/cd_black/ProximaNovaCondBlack.eot');
   src: url('../fonts/proximanova/cd_black/ProximaNovaCondBlack.eot') format('embedded-opentype'),
        url('../fonts/proximanova/cd_black/ProximaNovaCondBlack.woff') format('woff'),
        url('../fonts/proximanova/cd_black/ProximaNovaCondBlack.ttf') format('truetype'),
        url('../fonts/proximanova/cd_black/ProximaNovaCondBlack.svg#ProximaNovaCondBlack') format('svg');
}*/

// @font-face {
//    font-family: ProximaNovaSemiBoldItalic;
//    font-style: normal;
//    font-weight: normal;
//    src: url('../fonts/proximanova/semibolditalics/FontsFree-Net-Proxima-Nova-Sbold-It.eot');
//    src: url('../fonts/proximanova/semibolditalics/FontsFree-Net-Proxima-Nova-Sbold-It.eot') format('embedded-opentype'),
//         url('../fonts/proximanova/semibolditalics/FontsFree-Net-Proxima-Nova-Sbold-It.woff') format('woff'),
//         url('../fonts/proximanova/semibolditalics/FontsFree-Net-Proxima-Nova-Sbold-It.ttf') format('truetype');
// }

// @font-face {
//    font-family: ProximaNova;
//    font-style: normal;
//    font-weight: 100;
//    src: url('../fonts/proximanova/PncLight/ProximaNovaCondLight.eot');
//    src: url('../fonts/proximanova/PncLight/ProximaNovaCondLight.eot') format('embedded-opentype'),
//         url('../fonts/proximanova/PncLight/ProximaNovaCondLight.woff') format('woff'),
//         url('../fonts/proximanova/PncLight/ProximaNovaCondLight.ttf') format('truetype'),
//         url('../fonts/proximanova/PncLight/ProximaNovaCondLight.svg#ProximaNovaCondLight') format('svg');

// }

// @font-face {
//    font-family: "ProximaNova";
//    font-style: normal;
//    font-weight: 200;
//    src: url('../fonts/proximanova/cb/ProximaNovaCondRegular.eot');
//    src: url('../fonts/proximanova/cb/ProximaNovaCondRegular.eot') format('embedded-opentype'),
//          url('../fonts/proximanova/cb/ProximaNovaCondRegular.woff') format('woff'),
//          url('../fonts/proximanova/cb/ProximaNovaCondRegular.ttf') format('truetype'),
//          url('../fonts/proximanova/cb/ProximaNovaCondRegular.svg#ProximaNovaCondRegular') format('svg');
// }


// @font-face {
//    font-family: ProximaNova;
//    font-style: bold;
//    font-weight: 500;
//    src: url('../fonts/proximanova/cnbold/ProximaNovaCondBold.eot');
//    src: url('../fonts/proximanova/cnbold/ProximaNovaCondBold.eot') format('embedded-opentype'),
//         url('../fonts/proximanova/cnbold/ProximaNovaCondBold.woff') format('woff'),
//         url('../fonts/proximanova/cnbold/ProximaNovaCondBold.ttf') format('truetype'),
//         url('../fonts/proximanova/cnbold/ProximaNovaCondBold.svg#ProximaNovaCondBold') format('svg');
// }
