@import '../less/flexbox.less';
@import '../less/fonts.less';

@site_color: #FD5B27;


@media only screen and (max-width: 1024px) and (min-width: 768px) {
    body {
        .container {
            padding-left:20px;
            padding-right:20px;
            &.join_movement {
                padding-right: 20px;
            }
        }
        footer {
            .container {
                padding: 10px 0;
            }
        }
    }
    &.section_resources {
        .resource_section {
            padding-bottom: 0px;
            .resources {
                width: 31%;
             }
        }
     }
     .featured_projects {
        .team_title {
            padding-left: 17px;
        }
        .team_section {
            .team_data {
                .team_content {
                    width: 65%;
                }
                .team_image {
                    img {
                        padding-left: 50px;
                        width: 80%;
                        padding-top: 50px;
                    }
                }
            }
        }
    }
    &.join_movement {
        p {
            width: 50%;
        }
    }
    &.top_book_section {
        .book_container {
            .right_content_section {
                width: 80%;
                .order_section {
                    .left {
                        width: 55%;
                    }
                }
            }
        }
    }
    &.whitepaper_style {
        .whitepaper_section {
            padding: 20px 40px 0px 40px;
            &.bg_image {
                .wh_heading {
                    h2 {
                        font-size: 28px;
                    }
                    p {
                        font-size: 18px;
                        line-height: 18px;
                    }
                }
            }
        }
    }
}
@media (min-width: 768px) and (max-width: 1023px) {
    &.whitepaper_style {
        .whitepaper_section {
            padding: 20px 40px 0px 40px;
            &.bg_image {
                .wh_heading {
                    h2 {
                        font-size: 28px;
                    }
                    p {
                        font-size: 16px;
                        line-height: 18px;
                    }
                }
            }
        }
    }
    &.top_book_section {
        .book_container {
            .flex-direction(column);
            .right_content_section {
                margin-top: 0;
                width: 100%;
                .flex-direction(column-reverse);
                .order_section {
                    margin-top: 0;
                    margin-bottom: 50px;
                    .flex-display(flex);
                    .flex-direction(column);
                    .justify-content(space-between);
                    .align-items(center);
                    .flex-wrap(wrap);
                    a {
                        display: block;
                        margin-top: 15px;
                    }
                }
            }
            .left_img_section {
                margin-top: 45px;
                width: 100%;
                img {
                    width: 100%;
                }
            }
        }
    }
    .meet_glenn_sections {
        min-height: 730px;
        .right_text_section {
            width: 65%;
            margin-right: 50px;
            h1 {
                margin-bottom: 0;
            }
            p {
                font-size: 20px;
                line-height: 25px;
            }
        }
    }
    &.our_team_section {
        padding-top: 1px;
        .flex_section {
            .team_content {
                width: 46%;
                margin: 15px;
                .team_img_section {
                    a {
                        width: 95%;
                        left: 6px;
                    }
                }
            }
        }
    }
}
@media (max-width: 991px) {
    body {
        .container {
            padding-left:20px;
            padding-right:20px;
        }
        header {
            .top_navbar {
                .top_menu {
                    .top_right_menu {
                        margin-top: 8px;
                        a.apply_btn {
                            display: none;
                        }
                    }
                    .site_logo {
                        display: none;
                    }
                    .mobile_logo {
                        display: block;
                        float: left;
                        margin-left: 30px;
                        color: #000;
                        h2, h3 {
                            margin: 0px;
                            text-transform: uppercase;
                            font-size: 24px;
                        }
                        h2 {
                            font-weight: 900;
                        }
                        h3 {
                            font-weight: normal;
                            span {
                                &.date {
                                    font-family: ProximaNovaThin;
                                }
                                &.span_summit {
                                    color: @site_color;
                                    font-weight: normal;
                                }
                            }
                        }
                    }
                }
                nav {
                    &.sidemenu {
                        width: 80%;
                        ul {
                            padding: 0px 20px;
                        }
                    }
                }
            }
        }
        .pop_up, .pop_up_contact {
            padding-top: 30%;
            .pop_up_content {
                width: 60%;
            }
        }
    }
     &.video_banner {
        .banner_caption {
            left: 30px;
        }
    }
    .featured_projects .swiper-slide .shift_slide {
        width: 100%;
        min-height: 100%;
    }
    .join_movement {
        flex-direction: column;
        padding-right: 20px !important;
        .txt_container {
            width: 100%;
            padding-right: 20px;
            padding-bottom: 0px;
            .fairfield_img {
                max-width: 100%;
            }
        }
        .graphic_section {
            left: 0px;
            padding: 0px;
            img {
                //width: 75%;
            }
        }
    }
    .join_movement_section {
        img {
            width: 100%;
        }
    }
    .pop_up .pop_up_content.download_pop_up {
        width: 65%;
    }
    .pop_up .pop_up_content p.popup_head {
        font-size: 20px !important;
    }
    .jm-laop-cons-head{
        a{padding: 10px 10px!important;}
    }
}
@media (max-width: 767px) {
    .featured_projects {
        .team_title {
            padding-left: 17px;
        }
        .team_section {
            .team_data {
                .team_content {
                    width: 65%;
                }
                .team_image {
                    img {
                        padding-left: 50px;
                        width: 70%;
                        padding-top: 50px;
                    }
                }
            }
        }
    }
    &.modal_popup_wrapper {
        &.active{
            &.teampopup {
                .content_wrapper {
                    display: block;
                    width: 100%;
                    padding: 0;
                    .img_section {
                        width: 100%;
                        img {
                            width: 100%;
                        }
                        .name_block {
                            display: block;
                            padding: 20px 30px;
                            h2 {
                                font-size: 25px;
                                line-height: 30px;
                                font-family: ProximaNova;
                                font-weight: 700;
                                letter-spacing: .29px;
                                color: #000;
                                margin: 0;
                            }
                            p {
                                &.small_text {
                                    font-weight: normal;
                                    font-size: 16px;
                                    line-height: 20px;
                                    letter-spacing: .19px;
                                    margin: 0;
                                }
                            }
                        }
                    }
                    .content_section {
                        width: 90%;
                        margin: 0 auto;
                        padding: 0;
                        h3 {
                            font-size: 20px;
                            line-height: 24px;
                            letter-spacing: .23px;
                        }
                        p {
                            line-height: 22px;
                            font-size: 16px;
                            &.bold_txt {
                                font-size: 16px;
                                line-height: 21px;
                            }
                        }
                        .name_block {
                            display: none;
                        }
                    }
                }
            }
        }
    }
    &.join_movement {
        p {
            width: 100%;
        }
    }
    &.top_book_section {
        .book_container {
            .flex-direction(column);
            .right_content_section {
                margin-top: 0;
                width: 100%;
                .flex-direction(column-reverse);
                .order_section {
                    margin-top: 0;
                    margin-bottom: 50px;
                    .flex-display(flex);
                    .flex-direction(column);
                    .justify-content(space-between);
                    .align-items(center);
                    .flex-wrap(wrap);
                    a {
                        display: block;
                        margin-top: 15px;
                    }
                }
            }
            .left_img_section {
                margin-top: 45px;
                width: 100%;
                img {
                    width: 100%;
                }
            }
        }
    }
    &.our_team_section {
        .container {
            padding: 0px 25px;
            h2 {
                margin: 25px 0px;
                font-size: 30px;
                line-height: 41px;
            }
            .flex_section {
                .team_content {
                    width: 100% !important;
                    margin-right: 0 !important;
                }
            }
        }
    }
    &.about_section {
        .container {
            padding: 0px 25px;
        }
        top: 7px;
        /*width: 89%;*/
        min-height: auto;
        margin-bottom: 0;
        h2 {
            margin-bottom: 0;
            font-size: 30px;
            line-height: 41px;
        }
        p {
            margin-bottom: 0;
            font-size: 16px;
            line-height: 22px;
            font-family: 'ProximaNovaThin';
        }
        .our_team_section {
            h2 {
                margin-top: 19px;
                margin-bottom: 20px;
            }
            .flex_section {
                .team_content {
                    width: 100%;
                    margin-right: 0;
                }
            }
        }
    }
    &.meet_glenn_sections {
        min-height: 970px;
        background-size: 68% !important;
        .right_text_section {
            width: auto;
            float: none;
            margin: 0px;
            padding: 33px;
            h1 {
                margin-top: 0px;
                margin-bottom: 0px;
                font-size: 28px;
                line-height: 21px;
            }
            p {
                margin-top: 20px;
                margin-bottom: 25px;
                font-size: 16px;
                line-height: 22px;
            }
            a {
                display: block;
                width: 100%;
                text-align: center;
                padding: 7px 36px;
                span {
                    display: none;
                }
            }
        }
    }
    body {
        .videopopup {
            .videopopup__content {
                .container {
                    .youtube_wrapper {
                        .video_wrapper {
                            iframe {
                                max-height: 400px;
                            }
                        }
                        .video_popup_container {
                            .flex-direction(column);
                            .forbes_section {
                                padding: 10px;
                                width: unset;
                                margin-bottom: 20px;
                            }
                            .ln_section {
                                width: unset;
                                padding: 10px;
                                margin-left: 0px;
                            }
                            .call_btn {
                                padding-top: 30px;
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
    section {
        &.advocate_section {
            .join_page {
                .shift_button {
                    width: 95%;
                    padding: 10px 0px;
                    font-size: 12px;
                }
            }
            .table_container {
                .first_column {
                    padding-right: 0px;
                }
                .second_column,.third_column {
                    width: 30%;
                    font-size: 12px;
                }
            }
        }
    }
    .whitepaper_style .team_section .team_data {
        .flex-direction(column-reverse);
        padding: 0px !important;
        .team_image {
            display: none;
        }
        .team_content {
            width: 100%;
            padding: 0px;
            h2{
                margin-top:0px;
            }
        }
    }
    &.graphic_section {
        img {
            width: 100%;
        }
    }
    footer {
        .container {
            text-align: center;
            p,ul {
                float: none;
            }
            ul {
                padding: 0px;
                li {
                    padding: 0px;
                }
            }
        }
    }
    .jm-laop-cons-head {
        a {
            float: none;
            position: absolute;
            bottom: 10px;
            left: 50%;
            margin-left: -92px;
        }
    }
    .jm-rel{
        padding-bottom:40px!important;
        margin-bottom: 10px!important;
    }
}
@media (max-width: 768px)  {
    &.whitepaper_style {
        .whitepaper_section {
            padding: 20px 40px 20px 40px;
            &.bg_image {
                .wh_heading {
                    h2 {
                        font-size: 28px;
                    }
                    p {
                        font-size: 16px;
                        line-height: 18px;
                    }
                }
            }
        }
    }
    &.media_page {
        .desktop {
            display: none;
        }
        .media_section {
            padding: 0px 0px 20px 20px;

        }
        .container {
            width: 95%;
        }
        .mobile {
            display: block;
            position: relative;
            margin: 0;
            padding: 0;
            .video_categories {
                position: relative;
                color: @site_color;
                background-color: #F1F2F4;
                margin-left: -20px;
                margin-right: -20px;
                .title {
                    cursor: pointer;
                    margin: 0 0 0 0;
                    font-size: 20px;
                    font-weight: 700;
                    padding: 15px 0 15px 62px;
                    position: relative;
                }
                .title {
                    &:after {
                        position: absolute;
                        content: '\e802';
                        top: 9px;
                        font-family: "fontello";
                        left: 19px;
                        font-size: 34px;
                    }
                }
                &.show_cat {
                    .title {
                        &:after {
                            transform: rotate(90deg);
                        }
                    }
                }
                .dropdown {
                    background-color: #F1F2F4;
                    width: 100%;
                    top: 40px;
                    z-index: 2;
                    position: absolute;
                    margin-top: 0;
                    padding-left: 0px;
                    margin: 0;
                    &.hidden {
                        display: none;
                    }
                    li {
                        display: block;
                        padding-bottom: 0;
                        padding-left: 60px;
                        border: 0;
                        font-size: 20px;
                        font-weight: 700;
                        line-height: 29px;
                        margin: 9px 0;
                        a {
                            color: @site_color;
                            width: 100%;
                            display: block;
                            &.active {
                                color: black;
                            }
                        }
                    }
                }
            }
            .video_mobile_wrapper {
                h2 {
                    color: #FD5c28;
                    width: 80%;
                    margin: 0 auto;
                    padding: 3% 3%;
                    font-weight: 300;
                }
                .section {
                    width: 90%;
                    margin: 0 auto;
                    border: none;
                    padding: 25px 0;
                    clear: both;
                    a {
                        img {
                            &.video_image {
                                &.mobile_video_image {
                                    margin: auto 0;
                                    width: 100%;
                                }
                            }
                        }
                    }
                    .content_block {
                        font-weight: normal;
                        font-size: 14px;
                        width: 100%;
                        p {
                            &.publication {
                                &.video_publication {
                                    margin-top: 5px;
                                    font-size: 18px;
                                    font-weight: 600;
                                    margin-bottom: -14px;
                                    color: @site_color;
                                }
                            }
                        }
                        h3 {
                            &.video_title {
                                margin-bottom: 10px;
                                font-size: 25px;
                                line-height: 25px;
                                font-weight: 700;
                            }
                        }
                    }
                }
                a {
                    color: #000;
                    text-decoration: none;
                    .section {
                        width: 90%;
                        margin: 0 auto;
                        border: none;
                        padding: 25px 0;
                        img {
                            &.video_image {
                                margin-left: 0;
                                margin-bottom: 10px;
                                width: 100%;
                            }
                        }
                        .content_block {
                            width: 100%;
                            p {
                                color: #000000;
                                line-height: 25px;
                                &.publication {
                                    margin-bottom: 6px;
                                    color: #FD5c28;
                                    margin-top: 0px;
                                    font-size: 18px;
                                    font-weight: 600;
                                    line-height: 18px;
                                    min-height: 18px;
                                }
                                &.video_description{
                                    font-size: 14px;
                                    font-weight: normal;
                                    margin: 10px 0;
                                    line-height: 20px;
                                }
                                &.play_video {
                                    color: #FD5c28;
                                    font-size: 1.25em;
                                    font-weight: 800;
                                    margin: 0;
                                }
                            }
                            h3 {
                                &.video_title {
                                    font-weight: 700;
                                    margin-bottom: 10px;
                                    font-size: 25px;
                                    line-height: 25px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .featured_projects .swiper-slide .shift_slide {
        padding-bottom: 30px;
    }
    &.meet_glenn_section {
        .container {
            .what_section {
                p {
                    width: 80%;
                }
                .col_5 {
                    width: 85%;
                }
            }
        }
    }
    section {
        &.join_movement_page {
            .join_movement_section {
                width: 70%;
            }
        }
    }
    .container {
        .whitepaper_head{
            padding:20px 0px 0px 9px;
            margin-bottom: 40px;
        }
    }
}
@media (min-width: 768px) {
    .our_team_section{
        .container {
            width: 750px;
        }
    }
}

@media (min-width: 992px) {
    .our_team_section{
        .container {
            width: 970px;
        }
    }
}

@media (min-width: 1200px) {
    .our_team_section {
        .container {
            width: 1170px;
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
        }
    }
}
@media (max-width: 1200px) {
    .featured_projects .swiper-container .shift_wrapper {
        justify-content: unset;
    }
}
@media (max-width: 650px) {
    h2,h1{
        font-size: 28px !important;
    }
    h2{
        font-size: 28px !important;
    }
    p {
        font-size: 14px !important;
    }
    h3{
        font-size: 20px !important;
    }
    body {
        #video_page_ovrlay {
            .video_pagepopup__content {
                .containers {
                    .youtube_wrapper {
                        width: 100%;
                    }
                }
            }
        }
        .show_desktop {
            display: none;
        }
        .show_mobile {
            display: block !important;
        }
        .down_arrow {
            bottom: 40px;
        }
        header {
            .top_navbar {
                nav {
                    &.sidemenu {
                        &.active {
                            width: 100%;
                            a.close_icon {
                                margin: 25px 30px 0px 0px;
                            }
                            ul {
                                padding: 0px 50px;
                                li {
                                    a {
                                        font-size: 22px;
                                        line-height: 46px;
                                    }
                                }
                            }
                        }
                    }
                }
                .top_menu {
                    padding: 10px 0px 5px 0px;
                    .top_right_menu {
                        margin-top: 8px;
                        margin-right: 25px;
                    }
                    .mobile_logo {
                        h2, h3 {
                            font-size: 16px;
                        }
                        h2 {
                            max-width: 220px;
                        }
                    }
                }
            }
        }

    }
    &.whitepaper_style {
        .swiper-slide {
            a {
                span.swipe_btn {
                    display: block;
                }
            }
        }
        .whitepaper_section {
            padding: 0px 0px 40px 0px;
            &.bg_image {
                height: 100%;
            }
            .wh_heading {
                padding-left: 35px;
                padding-right: 35px;
                p {
                    padding: 0px 0px 10px 0px;
                    line-height: 18px;
                }
                justify-content: center;
                .mobile {
                    text-align: center;
                }
            }
        }
        .igs_image {
            display: none;
        }
    }
    &.video_banner {
    // height: 458px;
    // min-height: unset;
        .banner_caption {
            top: 0px;
            left: 30px;
            height: 300px;
            margin-bottom: 50px;
            h1 {
                font-size: 25px;
                line-height: 30px;
                max-width: 85%;
            }
            h2, p {
                font-size: 15px !important;
                line-height: 20px;
                word-break: break-word;
                max-width: 275px;
            }
            span {
                &.play {
                    width: 150px;
                    font-size: 16px;
                    line-height: 26px;
                    margin-top: 25px;
                    padding: 10px 0px;
                    &:after {
                        width: 28px;
                        height: 28px;
                        line-height: 28px;
                        font-size: 28px;
                    }
                }
            }
        }
        .down_arrow {
            display: none;
        }
}
    .container {
        margin: 0px;
        padding: 0px 30px 0px 30px;
        .what_section {
            h2 {
                .line {
                    height: 22px;
                    top: 10px;
                }
            }

        }
        &.team_section {
            .team_data{
                padding: 0px 0px 55px 0px;
                .team_content {
                    width: 100%;
                    &.join_section {
                        .flex-direction(column);
                        .align-items(unset);
                        .description_section {
                            width: 100%;
                            padding: 0px;
                        }
                    }
                }
            }
            .team_data.roundtable,.team_data.podcasts,.team_data.meetings {
                padding: 0px 0px 50px 0px;
            }
        }
        &.join_movement {
            h2 {
                line-height: 32px;
                span.sub_head {
                    padding: 0;
                }
                .line {
                    height: 22px;
                    top: 4px;
                }
            }
            p {
                width: 100%;
                padding: 0px;
                margin: 0px;
            }
            .graphic_section {
                padding-bottom: 30px;
            }
        }
    }
    &.shifts_section {
        h2 {
            padding-top: 0px;
        }
        .shifts_details {
            column-count: 1;
            font-size: 14px;
            padding: 0px;
        }
        .shift_txt {
            padding-right: 0px;
        }
        .shift_button {
            margin-bottom: 40px;
            padding-right: 30px;
        }
    }
    &.meet_glenn_section{
        background: #000 !important;
        .container {
            .what_section {
                padding-bottom: 35px;
                padding-top: 5px !important;
                .col_5 {
                    width: 100%;
                    a {
                        &.popup_trigger{
                            width: 100%;
                            p{
                                padding: 17px 0px 17px 0px;
                                span:last-child {
                                    padding-left: 20px;
                                }
                            }
                        }
                    }
                    .text_img {
                        .flex-direction(column);
                        padding: 0px;
                        img{
                            width: 100%;
                        }
                        p {
                            width: 100%;
                            padding: 0px;
                        }
                        &.open {
                            margin-left: 0px;
                        }
                    }
                    .contact_btn {
                        padding: 10px 20px;
                    }
                }
                p{
                    width: 100%;
                }
                .label_text_contain {
                    width: 100%;
                }
            }
        }
    }
    [type="radio"]:not(:checked) + label {
        width: unset;
    }
    &.featured_projects {
        margin: 0px;
        &.team_part{
            .team_title {
                padding: 0px;
                padding-left: 17px;
                h2{
                    .line {
                        height: 22px;
                        top: 67px;
                    }
                }
                &.title {
                    h2{
                        .line{
                        top: 10px;
                        }
                    }
                }
            }
        }
        &.team_part {
            h2{
                .line {
                    height: 22px;
                    top: 10px;
                }
            }
        }
    }
    &.down_arrow {
        display: none;
    }

    .team_image{
        display: none;
    }
    .top_header_margin {
        margin-top: 40px;
    }
    &.featured_projects{
        .flex-direction(column-reverse);
        &.team_part{
            .flex-direction(column) !important;
        }
        .season_tab ul li {
            padding: 0px;
            width: auto;
        }

    }
    &.section_resources {
        h2 {
            .line {
                height: 22px;
                 top: 26px;
            }
        }
        .resource_section {
            padding-bottom: 0px;
            .flex-direction(column);
            margin-bottom: 10px;
            .resources {
                h2{
                    padding: 0px;
                    padding-top: 15px;
                    text-align: left;
                }
                p {
                    padding-bottom: 10px;
                }
                width: 100%;
                padding-bottom: 30px;
                .resource_title_img {
                    text-align: center;
                }
            }
        }
    }
    &.contact_section {
        input {
            width: 100%;
            //border: none;
            margin-top: 35px;
            font-family: 'ProximaNova';
            //padding: 10px 0px 10px 0px;
            font-size: 16px;
        }
        h1 {
            margin-bottom: 15px;
        }
        .name_section {
            width: 100%;
            .flex-direction(column);
            .contact_input{
                width: 100%;
            }
        }
        fieldset {
            width: 100%;
        }
    }
    section {
        &.join_movement_page {
            margin-top: 48px;
        }
        &.media_page {
            margin-top: 90px;
        }
    }
    .social_media_container {
        font-size: 35px;
        a {
            margin-right: 10px;
            height: 0px;
        }
    }
}
@media (max-width:568px) {
    &.partner_section {
        padding-top: 20px;
        .partners_sections {
            padding-top: 0px;
            .flex-direction(column);
            .partner_txts {
                width: 100%;
                padding-top: 10px;
            }
            .partner_imgsection {
                padding: 0px;
                img {
                    width: auto;
                }
            }
        }
        .rich_text {
            .partner_title{
                font-size: 24px;
            }
        }
    }
    body {
        .videopopup {
            .videopopup__content {
                .container {
                    padding: 0px;
                    .youtube_wrapper {
                        .video_popup_container {
                            padding: 10px;
                            .call_btn {
                                a {
                                    font-size: 15px;
                                }
                            }
                        }
                        .video_wrapper {
                            padding: 30px 0px 30px 0px;
                            iframe {
                                max-height: 280px;
                            }
                        }
                    }
                }
            }
        }
    }
    .join_movement .graphic_section a {
        font-size: 18px;
        width: 70%;
    }
    .season_tab ul span.span_coming {
        bottom: unset;
        top: 30px;
        font-size: 10px;

    }
    section {
        &.join_movement_page {
            .join_movement_section {
                width: 80%;
            }
        }
    }
}
@media(max-width: 500px) {
    &.jquery-background-video-wrapper {
        .overlay_section {
            position: relative;
            display: none;
        }
        .video_section {
            
            height: 100%;
            width: 100%;
            top: 0;
            background-position: center center !important;
            background-repeat: no-repeat !important;
            -webkit-background-size: cover !important;
            -moz-background-size: cover !important;
            background-size: cover !important;
        }
    }
    .featured_projects .swiper-container.shifts_swiper {
        border: none;
    }
    .featured_projects .swiper-slide .shift_slide {
        border: none;
        &.active {
            border: none;
        }
        .shifts_details {
            text-align: left;
            font-size: 14px;
            font-weight: normal;
        }
        .shift_txt {
            color: @site_color;
        }
        .shift_button {
            margin-bottom: 40px;
            border: 1px solid @site_color;
            border-radius: 50px;
            width: 220px;
            display: block;
            margin: 0 auto;
            padding: 10px 0px;
        }
    }
    .season_tab ul li a {
        padding: 15px 15px 15px 18px!important;
    }
    .season_tab {
        ul {
            .flex-display(flex);
            .justify-content(space-between);
            margin: 0px;
            li {
                width: 100% !important;
            }
        }
    }
    .featured_projects {
        .swiper-slide {
            a {
                span.swipe_btn {
                    display: block;
                }
            }
        }
    }
    &.whitepaper_style {
        .swiper-slide {
            a {
                span.swipe_btn {
                    display: block;
                }
            }
        }
        .whitepaper_section {
            padding: 0px 0px 40px 0px;
            &.bg_image {
                height: 100%;
            }
            .wh_heading {
                padding-left: 35px;
                padding-right: 35px;
                p {
                    padding: 0px 0px 10px 0px;
                    line-height: 18px;
                }
                justify-content: center;
                .mobile {
                    text-align: center;
                }
            }
        }
        .igs_image {
            display: none;
        }
    }
    &.video_banner {
        .banner_caption {
            height: 270px;
            h1 {
                font-size: 25px !important;
                max-width: 75%;
            }
            h2,p {
                font-size: 15px !important;
                margin: 0px;
                margin-top: 10px;
            }
            span.play {
                padding: 5px 0px;
                width: 130px;
                font-size: 15px;
                margin-top: 20px;
            }
        }
    }
    .shifts_section {
        padding-bottom: 0px;
    }
}
@media (max-width: 414px) {
    &.media_page {
        .container {
            width: 90%;
        }
        h1{
            font-size:22px!important;
        }
    }
    h2 {
        font-size: 22px !important;
    }
    &.top_book_section {
        .book_container {
            .right_content_section {
                .book_description {
                    h1 {
                        font-size: 24px !important;
                        line-height: 27px;
                    }
                    h2 {
                        font-size: 20px;
                        line-height: 24px;
                    }
                    p {
                        font-size: 16px;
                        line-height: 24px;
                    }
                }
                .order_section {
                    width: 90%;
                }
            }
        }
    }
    .partner_section {
        .rich_text {
            .partner_title {
                font-size: 20px;
            }
        }
    }
    &.meet_glenn_sections {
        min-height: 920px;
    }
    &.our_team_section {
        .flex_section {
            .team_content {
                a {
                    padding: 9px 10px;
                    padding-left: 0;
                }
            }
        }
    }
    body {
        .videopopup {
            .videopopup__content {
                .container {
                    .youtube_wrapper {

                        .video_wrapper {
                            iframe {
                                max-height: 200px;
                            }
                        }
                        .video_popup_container {
                            .ln_section,.forbes_section {
                                padding: 10px;
                                font-size: 10px;
                                p {
                                    font-size: 10px !important;
                                }
                                img {
                                    width: 20%;
                                }
                            }
                            .forbes_section{
                                margin-bottom: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
    .join_movement .graphic_section a{
        font-size: 16px;
        width: 75%;
    }
    .video_banner .banner_caption h1 {
        max-width: 50%;
    }
    section {
        &.join_movement_page {
            .join_movement_section {
                width: 90%;
            }
        }
    }
     .social_media_container {
        font-size: 30px;
        a {
            margin-right: 5px;
        }
    }
    .season_tab ul li a {
        font-size: 15px;
    }
    .shifts_section h2 {
        margin-bottom: 0px;
    }
    .pop_up .pop_up_content .nav_button.download_pop_up {
        width: 170px;
        font-size: 15px;
        padding: 25px 20px 25px 23px;
    }
    .pop_up_contact .pop_up_content .nav_button {
        &.join_page {
            height: 40px;
            font-size: 15px;
            width: 130px;
            padding: 20px 15px 20px 20px;
        }
    }
    .whitepaper_head {
        h1 {
            font-size: 22px !important;
            line-height: 27px!important;
        }
    }
    .join_movement_section {
        h1 {
            font-size: 22px !important;
        }

    }
    .jm-laop-cons-head {
       a{
        margin-left:-100px;
       }
    }
}
