body {
    .rich-text {
        h1, h2, h3, h4, h5, h6,a,ul, ol {
            color: #4c4c4c;
            margin:0;
            padding:0;
        }
        h1, h2, h3, h4, h5, h6,ul, ol,p { 
            margin-bottom: 1em;
        }
        ul {
            list-style-type: disc;
        }
        ul,ol {
            margin-left: 16px;
        }
        ul, ol, p,a {
            font-size: 18px;
            font-weight: normal;
            line-height: 28px;
            color: #4c4c4c;
        }
        a {
            color: #3a5694;
        }
    }
}