/* Template Name:  AOP */
@import '../less/flexbox.less';
@import '../less/fonts.less';

@site_color: #FD5B27;

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    min-height: 100%;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'ProximaNova', sans-serif;
    // -webkit-overflow-scrolling: touch;
}

/* common styles */
a {
    text-decoration: none;
    cursor: pointer;
    outline: none;

    &:hover,
    &:focus {
        outline: none;
    }
}

ul {
    list-style-type: none;
}

img {
    outline: none;

    &:hover,
    &:focus {
        outline: none;
    }
}
p {
    line-height: 25px;
}

label {
    &.error {
        display: none !important;
    }
}
input {
    &.error {
        border-bottom: 1px solid red !important;
    }
}
section{
    margin-top: 5px;
}
.top_header_margin {
    margin-top: 90px;
}
.hide {
    display: none;
}

.clear {
    clear: both;
}
.left {
    float: left;
}
.right {
    float: right;
}
.img-responsive {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}

.mb0 {
    margin-bottom: 0px !important;
}

.mt0 {
    margin-top: 0px !important;
}
.ml-40 {
    margin-left: -40px;
}

span {
    &.special_case {
        color: @site_color;
        text-transform: none;
    }
}
span {
    &.special_case_blue {
        color: #3AA9BE;
        text-transform: none;
    }
}
.jm-rel{
    position:relative;
}
.mobile_logo {
    display: none;
}

.container {
    padding-right: 100px;
    padding-left: 100px;
    margin-right: auto;
    margin-left: auto;
    &.join_movement {
        padding-right: 40px;
    }
    .whitepaper_head {
        padding: 60px 0px 0px 9px;
        margin-bottom:70px;
        h1{
            font-size: 45px;
            line-height: 42px;
            font-weight: 600;
        }
    }
}
.down_arrow {
    position: relative;
    bottom: 6px;
    margin: 0 auto;
    left: 0;
    right: 0;
    z-index: 5000;
    padding-bottom: 15px;
    display: block;
    width: 29px;
    height: 29px;
    color: rgba(216,216,216,0.51);
    font-size: 24px;
    padding-bottom: 42px;
    &.v2 {
        color: rgba(0,0,0,0.51);
    }
    &.social_media_arrow {
        padding-bottom: 5px;
    }
}
header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: #fff;
    z-index: 9999;
    box-shadow: 1px 0px 10px 1px rgba(0, 0, 0, .1);
    -webkit-box-shadow: 1px 0px 10px 1px rgba(0, 0, 0, .1);
    -moz-box-shadow: 1px 0px 10px 1px rgba(0, 0, 0, .1);
    -ms- box-shadow: 1px 0px 10px 1px rgba(0, 0, 0, .1);
    .top_navbar {
        .top_menu {
            padding: 37px 0px 30px 0px;
            .site_logo {
                display: block;
                float: left;
                margin-left: 35px;
            }
            .top_right_menu {
                float: right;
                margin-right: 43px;

                a {
                    &.apply_btn {
                        margin-right: 25px;
                        font-weight: normal;
                        color: #fff;
                        width: 184px;
                        background-color: @site_color;
                        font-size: 18px;
                        line-height: 29px;
                        border-radius: 40px;
                        padding: 12px 30px;
                        text-align: center;
                        &.advocate {
                            background-color: #00B6CB;
                        }
                    }

                    &.toggle_icon {
                        color: #000;
                    }
                }
            }
        }

        nav {
            &.sidemenu {
                position: fixed;
                top: 0;
                bottom: 0px;
                right: -2500px;
                background: #fff;
                box-shadow: 1px 0px 10px 1px rgba(0, 0, 0, .36);
                height: 100%;
                overflow-y: auto;
                z-index: 10000;
                margin: 0;
                width: 610px;
                display: block;
                transition: all .5s;
                -webkit-transition: all .5s;
                &.active {
                    right: 0px;
                }
                a {
                    &.close_icon {
                        float: right;
                        color: #000;
                        font-size: 20px;
                        margin: 44px 44px 0px 0px;
                    }

                    &.apply_btn {
                        background-color: @site_color;
                        font-size: 22px;
                        line-height: 29px;
                        border-radius: 40px;
                        width: 259px;
                        padding: 16px 0px;
                        color: #fff;
                        text-align: center;
                        display: block;
                        margin: 0 auto;
                        margin-bottom: 20px;
                        &.advocate {
                            background-color: #00B6CB;
                        }
                    }
                }

                ul {
                    margin: 80px 0px 35px 0px;
                    padding: 0px 115px;
                    box-sizing: border-box;
                    text-align: center;

                    li {
                        border-bottom: 1px solid rgba(0, 0, 0, 0.09);

                        a {
                            text-align: center;
                            font-family: ProximaNovaThin;
                            font-size: 24px;
                            line-height: 50px;
                            color: #000;
                        }
                    }
                }
            }
        }
    }
}
body {
    /* Header */
    // -webkit-overflow-scrolling: touch;
     overflow-x: hidden;
    &.hidden_b {
        // position: fixed;
        /*bottom: 0px;
        left: 0px;
        right: 0px;
        top: 0;*/
        overflow: hidden;
    }
    .show_desktop {
        display: block;
    }
    .show_mobile {
        display: none;
    }

    .videopopup {
        background-color: rgba(0, 0, 0, .89);
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99999;
        display: none;
        .videopopup__content {
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            width: 100%;
            height: 100vh;
            overflow-y: auto;
            .container {
                height: inherit;
                .header_pop {
                  span {
                    color: #fff;
                    position: absolute;
                    top: 40px;
                    right: 35px;
                    font-size: 20px;
                    cursor: pointer;
                  }
                }
                .youtube_wrapper {
                    .video_wrapper {
                        position: relative;
                        top: 60px;
                        background-color: #fff;
                        padding: 10px 30px 40px 30px;
                        max-width: 856px;
                        margin: 0 auto;
                        iframe {
                            display: block;
                            margin:0 auto;
                            height: 650px;
                            width: 100%;
                            max-width: 856px;
                            max-height: 500px;
                            padding: 10px 0px 10px 0px;
                        }
                    }
                    .video_popup_container {
                        .flex-display(flex);
                        .justify-content(space-around);
                        color: @site_color;
                        //padding: 0px 0px 20px 0px;
                        //margin: 0px 50px;
                        .forbes_section {
                            padding: 20px 20px 0px 20px;
                            font-size: 16px;
                            font-weight: 600;
                            width:30%;
                            flex: 1 auto;
                            background-color: rgba(216, 216, 216, 0.35);
                            p {
                                .flex-display(flex);
                                line-height: normal;
                                .align-items(baseline);
                                margin-top: 5px;
                                &:before {
                                    font-family: "fontello";
                                    position: relative;
                                    content: '\e807';
                                    padding-right: 5px;
                                    border-radius: 22px;
                                    color: @site_color;
                                    font-size: 10px;
                                }
                                a {
                                    color: @site_color;
                                }
                            }
                            img {
                                width: 100px;
                            }
                        }
                        &.hide {
                            display: none;
                        }
                        .ln_section {
                            padding: 20px 20px 0px 20px;
                            font-size: 18px;
                            font-weight: 600;
                            margin-left: 10px;
                            width:30%;
                            flex: 1 auto;
                            background-color: rgba(216, 216, 216, 0.35);
                            ul {
                                padding: 0px;
                                .flex-display(flex);
                                .align-items(baseline);
                                .flex-direction(column);
                                margin-top: 5px;
                            }
                            li {
                                margin-bottom: 6px;
                                &:before {
                                    font-family: "fontello";
                                    position: relative;
                                    content: '\e807';
                                    border-radius: 22px;
                                    color: @site_color;
                                    font-size: 10px;
                                }
                                a {
                                    color: @site_color;
                                }
                            }
                            img {
                                width: 100px;
                            }
                        }
                        .call_btn {
                            .flex-display(flex);
                            width: 40%;
                            text-align: center;
                            .justify-content(center);
                            .align-items(center);
                            a{
                                font-size: 25px;
                                color: @site_color;
                                font-weight: 700;
                            }
                        }
                    }
                }
            }
        }
    }
}

    &.jquery-background-video-wrapper {
        //background-image: url('../graphics/video_bg.jpg');
        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            // background-color: rgba(0, 0, 0, 0.7);
            z-index: 500;
        }
        &.join_movement_overlay {
            &:after {
                //background-color: rgba(0, 0, 0, 0.7);
            }
        }
        .overlay_section {
            position: absolute;
            width: 65%;
            height: 100%;
            background: -moz-linear-gradient(left,  rgba(0,0,0,1) 68%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(left,  rgba(0,0,0,1) 68%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to right,  rgba(0,0,0,1) 68%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
            z-index: 1000;
        }
        .video_section {
            position: absolute;
            height: 100%;
            right: 0;
            width: 56%;
            .jquery-background-video {
               // width: 100%;
                height: 100%;
            }
        }
        .banner_caption {
            position: relative;
            top: 20px;
            left: 100px;
            width: 555px;
            z-index: 1000;
            height: 400px;
            color: #fff;
            margin: 20px 0px 75px 0px;
            h1, h2, p {
                margin:0;
            }
            h1 {
                font-size: 50px;
                line-height: 50px;
                overflow: hidden;
            }
            h2 {
                font-size: 22px;
                line-height: 30px;
                font-weight: normal;
                margin: 20px 0px 25px 0px;
                overflow: hidden;
            }
            p {
                font-size: 20px;
                line-height: 28px;
                font-family: ProximaNovaThin;
                overflow: hidden;
            }
            span.play {
                width: 200px;
                color: #fff;
                font-size: 22px;
                line-height: 29px;
                border:1px solid @site_color;
                color: @site_color;
                display: block;
                border-radius: 28px;
                text-align: center;
                padding: 14px 0px;
                margin-top: 48px;
                position: relative;
                cursor: pointer;
                font-weight: 600;
                &:after {
                    font-family: "fontello";
                    content: '\e802';
                    position: absolute;
                    right: 0px;
                    top: -20px;
                    width: 39px;
                    height: 39px;
                    border-radius: 22px;
                    line-height: 39px;
                    background: @site_color;
                    color: #fff;
                    font-size: 35px;
                }
                &:hover {
                    background-color: @site_color;
                    color: #fff;
                    &:after {
                        background-color: #fff;
                        color: @site_color;
                    }
                }
            }
        }
        .popupbg_video {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 7500;
            display: none;
            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.7);
                z-index: 7500;
            }
            video {
                min-width: 100%;
                min-height: 100%;
                width: auto;
                height: auto;
                position: absolute;
                top: 50%;
                left: 50%;
                z-index: 0;
                -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
            }
        }
    }
&.video_slide {
    overflow: hidden;
    margin: 0px;
}
&.slide_container {
    overflow: visible !important;
}
.swiper-wrapper__center {
    justify-content: center;
    margin: 0 auto;
}
&.featured_projects{
    &.first_slider_bg {
        background-color: #000;
        max-height: 270px;
    }
    .flex-display(flex);
    .flex-direction(column);
    .imgs-display{
        //opacity: 0;
        top: 0px;
        left: 0px;
        position: absolute;
        width: 100%;
        height: 100%;
    }
    .shift_outer {
        padding-top: 30px;
    }
    &.team_part {
        margin-top: 5px;
    }
    h2 {
        font-size: 30px;
        line-height: 30px;
        margin-top: 0px;
        font-weight: 700;
        sup {
            background-color: @site_color;
            margin-left: -4px;
            border-radius: 50%;
            display: inline-block;
            width: 30px;
            height: 30px;
            text-align: center;
            line-height: 30px;
            &.circle {
                color: white;
                font-size: 16px;
            }
        }
    }
    h3 {
        font-size: 20px;
        font-weight: 400;
        margin-top: -23px;
        margin-bottom: 29px;
    }
    .team_title{
        background-color: #fff;
        padding-top: 30px;
        padding-left: 100px;
        h2{
            text-align: left;
            font-size: 45px;
            line-height: 42px;
            font-weight: 600;
            padding-top: 57px;
            margin-left: 16px;
            position: relative;
            &.team_margin {
                padding: 0px;
            }
            .line {
                border-left: 3px solid @site_color;
                position: absolute;
                height: 42px;
                left: -14px;
            }
        }
    }

    .swiper-container {
        //display: none;
            width: 100%;
            //height: 100%;
            //margin: 40px auto 83px auto;
            overflow: visible !important;
            z-index: 2000;
            .swiper-button-next {
                background-image: url('../graphics/slider_right_arrow.png');
                background-color: rgba(0,0,0,0.5);
                width: 60px;
                height: 100%;
                position: absolute;
                top: 0px;
                right: 0;
                z-index: 1000;
            }
            .swiper-button-prev {
                background-image: url('../graphics/slider_left_arrow.png');
                background-color: rgba(0,0,0,0.5);
                width: 60px;
                height: 100%;
                position: absolute;
                top: 0px;
                left: 0;
                z-index: 1000;
            }
            .swiper-button-next,
            .swiper-button-prev {
                z-index: 1000;
                background-size: 15px;
                margin: 0px;
                height: 99%;
                &.swiper-button-disabled {
                    display: none;
                }
                &:focus {
                    outline: none;
                }
            }
            &.first-section{
                .hide {
                    display: none;
                }
            }
            &.slide_over{
                overflow: hidden !important;
            }
            .shift_wrapper {
                align-items: center;
                justify-content: center;
            }
            &.shifts_swiper {
                border-bottom: 1px solid #ddd;
            }
    }
    .team_section{
        .team_data{

            .flex-display(flex);

            padding : 30px 0px 85px 0px;
            &.hide{
                display: none;
            }
            &.roundtable,&.podcasts,&.meetings {
                padding: 30px 0px 0px 0px;;
            }
            .team_content {
                width: 60%;
                height: 100%;
                &.join_section {
                    width: 100%;
                    .flex-display(flex);
                    .align-items(center);
                    .description_section {
                        width: 70%;
                        padding-right: 5%;
                    }
                    .btn_section {
                        a {
                            width: 150px;
                            text-align: center;
                            display: block;
                        }
                    }
                }
                h2{
                    text-align: left;
                    padding-top: 30px;

                }
                .rich-text {
                    p {
                        color: black;
                        font-size: 16px;
                        line-height: 24px;
                    }
                }
                p{
                    text-align: left;
                    margin: 0px;
                    max-width: 100%;
                    padding-bottom: 30px;
                }
                a {
                    position: relative;
                    top: 8px;
                    left: 0px;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 29px;
                    background-color: #fff;
                    padding: 10px 26px;
                    border: 1px solid #FD5B27;
                    box-sizing: border-box;
                    border-radius: 45px;
                    color: @site_color;
                }
            }
            .team_image{
                img{
                    padding-left: 60px;
                }
            }
        }
    }
    .swiper-slide {
        transition: 700ms -webkit-transform;
        transform-origin: center center;
        transition: 700ms transform;
        .img-display {
            //-webkit-transform: scale(0);
           // transform: scale(1);
            opacity: 0;
            //transition: transform .2s;
            //.transition(.3s, ease-in-out);
            //transition: transform .7s ease-in-out;

           // transition: 500ms transform, 500ms -webkit-transform;
            //background: linear-gradient(to top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
           // transition: 500ms opacity;
            top: 0px;
            left: 0px;
            position: absolute;
            width: 100%;
            height: 100%;
            max-width: 500px;

        }
        .overlay_txts {
            opacity: 0;
        }
        &.shift_slider {
            background-color: #fff;
        }
        .shift_slide {
            min-height: 120px;
            width: 200px;
            padding-bottom: 20px;
            a {
                img {
                    max-width: 100%;
                    width: 150px;
                    height: auto;
                }
            }
            &.active {
                border-bottom: 3px solid @site_color;
            }
        }
        position: relative;
        text-align: center;
        font-size: 18px;
        //background-color: #ddd;
        &.no_image {
            height: auto;
        }
        a {
            .flex-display(flex);
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            .justify-content(center);
            .align-items(center);
            overflow: hidden;
            img {
                width: 100%;
                height: auto;
                //max-height: 350px;
                max-width: 500px;

            }
            span.overlay {
                background-color: #000;
                opacity: .2;
                content: "";
                height: 100%;
                width: 100%;
                z-index: 1;
                position: absolute;
                top: 0;
                display: block;

            }
            span.swipe_btn{
                display: none;
                font-size: 23px;
                line-height: 30px;
                color: #fff;
                position: absolute;
                background-color: rgba(0,0,0,0.5);
                top: 50%;
                padding: 10px;
                -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                -moz-transform: translateY(-50%);
                transform: translateY(-50%);
                border-radius: 50px;
                width: 140px;
                z-index: 100;
                margin: 0;
                &:after {
                    font-family: "fontello";
                    content: '\e807';
                    color: #d7d7d7;
                    padding-left: 10px;
                    opacity: 0.61;
                }
                 &:before {
                    font-family: "fontello";
                    content: '\e806';
                    color: #d7d7d7;
                    padding-right: 10px;
                    opacity: 0.61;
                }
            }

        }
        .overlay_txts {
            position: absolute;
            left: 12px;
            right: 10px;
            bottom: 10px;
            text-align: left;
            line-height: 10px;
            h3 {
                font-family: 'Lato Black', sans-serif;
                font-size: 13px;
                position: relative;
                overflow: hidden;
                line-height: 18px;
                color: #fff;
                z-index: 100;
                text-align: left;
                margin: 0px;
            }
            span.inside_click{
                position: absolute;
                top: -25px;
                text-align: center;
                width: 20px;
                height: 20px;
                z-index: 100;
                border-radius: 22px;
                border: 1px solid #fff;
                &:after {
                    font-family: "fontello";
                    position: absolute;
                    content: '\e802';
                    //width: 50px;
                    height: 38px;
                    width: 25px;
                    left: -5px;
                    top: -10px;
                    display: block;
                    line-height: 39px;
                    color: @site_color;
                    font-size: 28px;
                }

            }
            span.play1 {
                color: @site_color;
                font-size: 11px;
                &:before {
                    font-family: "fontello";
                    position: relative;
                    content: '\e80D';
                    padding-right: 2px;
                    top: 0px;
                    width: 38px;
                    height: 38px;
                    border-radius: 22px;
                    color: @site_color;
                    font-size: 14px;
                }
            }
            span.inline_txt {
                color: #fff;
                display: inline;
                font-size: 10px;
            }
        }
        &.team_bg{
            img{
                opacity: 0;
            }
            .img-display{
                opacity: 1;
                max-width: 500px;
            }
            border-bottom: 3px solid @site_color;
        }


        &.slider-scale {
            img {
                opacity: 0;
            }
            .overlay_txts{
                opacity: 1;
            }
            .img-display {
                opacity: 1;
            }
            border: 2px solid @site_color;
            -webkit-transform: scale(1.3) ;
            transform: scale(1.3) ;
            z-index: 1000;
            display: block;
            opacity: 1;
            background: linear-gradient(to top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
            &.swiper-slide-active {
                transform: scale(1.2) translateX(25%);
            }
            &.swiper-slide-visible{
                &.rightend{
                    transform: scale(1.2) translateX(-25%);
                }
            }


        }
        &.slider-scale:first-child {
            transform: scale(1.3) translateX(15%);
        }
        &.slider-scale:last-child {
            transform: scale(1.3) translateX(-15%) !important;
        }
        &.swiper-slide-end {
            transform: scale(1.3) translateX(-30%);
        }
    }
}
.season_tab {
    .flex-display(flex);
    .justify-content(center);
    position:relative;
    display:block;
    ul{
        padding: 0px;
        width: 100%;
        margin: 0px;
        li{
            position: relative;
            display: inline-block;
            padding: 10px 0px;
            //padding-bottom: 20px;
            a{
                //padding-bottom: 26px;
                padding: 26px 32px 24px 31px;
                font-size: 20px;
            }
            &:hover {
                span.span_coming {
                    display:block;
                }
            }
            .disable {
                pointer-events: none;
                cursor: default;
                a {
                    pointer-events: none;
                    cursor: default;
                }
            }
        }
        span.span_coming {
            position: absolute;
            display: none;
            color: #fff;
            bottom: 8px;
            left: 0;
            right: 0;
            margin: 0 auto;
            text-align: center;
            font-size: 14px;
            z-index:999;
        }
    }
    background-color: #000;
    z-index: 1000;
    //padding: 25px 20px 25px 20px;

    text-align: center;
    .season_tab_link {
        color: #fff;
        line-height: 47px;
        //padding-right : 40px;
        &.active {
            border-bottom: 5px solid @site_color;
        }
        &.disable {
            opacity: 0.4;
        }
        a {
            color: #fff;
        }
    }

}
&.shifts_section {
    padding-top: 35px;
    padding-bottom: 40px;
    h2 {
        font-size: 45px;
        line-height: 42px;
        font-weight: 600;
        padding-top: 35px;
        margin: 0px 0px 20px 14px;
        position: relative;
        .line {
            border-left: 3px solid @site_color;
            position: absolute;
            height: 42px;
            left: -14px;
        }
    }
    h3 {
        padding-top: 25px;
    }
    p {
        font-size: 18px;
        line-height: 25px;
    }
    .img_section {
        width: 100%;
        height: 100%;
        border-bottom: 1px solid #ddd;
        .flex-display(flex);
        justify-content: space-around;
        -ms-justify-content: space-around;
        text-align: center;
        overflow: hidden;
        a {
            &.active {
                border-bottom: 3px solid @site_color;
            }
        }
        img {
            padding-bottom: 30px;
        }
    }
    .shift_section {
        h3 {
            font-size: 25px;
            line-height: 42px;
            font-weight: 300;
            padding-top: 20px;
            padding-bottom: 20px;
            margin-bottom: 0px;
        }
    }
    .shifts_details {
        column-count: 1;
        column-gap: 50px;
        padding: 0px 0px  25px 0px;
        font-size: 18px;
        line-height: 25px;
    }
    .shift_txt {
        display: inline-block;
        padding-right: 50px;
        color: @site_color;
        font-weight: 600;
    }
    .shift_button {
        top: 0px;
        font-weight: 600;
        font-size: 18px;
        line-height: 29px;
        background-color: #fff;
        padding: 10px 26px;
        border: 1px solid #FD5B27;
        box-sizing: border-box;
        border-radius: 45px;
        color: @site_color;
    }
    span.btn_txt {
        color: #000;
        font-size: 20px;
        font-weight: 300;
        padding-left: 5px;
        top: 3px;
        position: relative;
        img {
            width: 80px;
        }
    }
    .shift_even {
        .shift_button {
            color: #3AA9BE;
            border-color: #3AA9BE;
        }
    }
}
&.meet_glenn_section {
    h2 {
        font-size: 45px;
        line-height: 42px;
        font-weight: 600;
        margin-left: 14px;
        position: relative;
        .line {
            border-left: 3px solid @site_color;
            position: absolute;
            height: 42px;
            left: -14px;
        }
    }
    position: relative;
    min-height: 400px;
    color: #fff;
    .container {
        .what_section {
            p {
                width: 65%;
                padding-bottom: 20px;
                font-size: 18px;
            }
            .label_text_contain {
                width: 65%;
            }
            padding: 35px 0px 100px 0px;
            .col_5 {
                display: block;
                width: 70%;
                margin-top: 10px;
                a {
                    &.popup_trigger {
                        display: inline-block;
                        border: 1px solid #fff;
                        color: @site_color;
                        border-radius: 50px;
                        text-align: left;
                        // padding: 17px 0px;
                        box-sizing: border-box;
                        position: relative;
                        width: 100%;
                        margin-bottom: 10px;
                        &.active {
                            p span{
                                color: @site_color !important;
                            }
                        }
                        p {
                            margin: 0px;
                            padding: 17px 30px 17px 25px;
                            font-size: 20px;
                            line-height: 20px;
                            font-weight: 700;
                            .flex-display(flex);
                            .align-items(flex-start);
                            span {
                                color: #fff;
                                &:last-child {
                                    color: #fff;
                                    padding-left: 4px;
                                }
                            }
                        }
                        &:after {
                           font-family: "fontello";
                           content: '\e80A';
                           position: absolute;
                           top: 8px;
                           width: 39px;
                           border-radius: 22px;
                           text-align: center;
                           //background: @site_color;
                           .flex-display(flex);
                            .align-items(center);
                            .justify-content(center);
                            color: @site_color;
                            font-size: 30px;
                            top: 50%;
                            font-weight: 100;
                            transform: translate(-50%, -50%);
                        }
                        &.active:after {
                            content: "\e809";
                        }
                        &:after {
                            right: 15px;
                        }
                    }
                }
                .contact_btn {
                    position: relative;
                    display: block;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 29px;
                    background-color: @site_color;
                    padding: 10px 5px;
                    border: 1px solid @site_color;
                    margin-bottom: 15px;
                    box-sizing: border-box;
                    text-align: center;
                    border-radius: 45px;
                    color: #fff;
                }
                .text_img {
                    display: none;
                    padding-bottom: 20px;
                    transition: 0.2s ease-out;
                    img{
                        display: block;
                        margin-bottom: 15px;
                        width: 100%;
                        height: auto;
                    }
                    p {
                        padding-left: 20px;
                        padding-right: 20px;
                        margin: 0px;
                    }
                    &.open {
                        .flex-display(flex);
                        margin-top: 20px;
                        margin-left: 20px;
                    }
                }
                &.hide {
                    display: none;
                }
            }
        }
    }
}
footer {
    font-size: 16px;
    line-height: 19px;
    color: #000;
    margin-top: 6px;
    .container {
        border-top: 1px solid rgba(151, 151, 151, .19);
        padding: 10px 15px;
        ul {
            margin:0px;
            li {
                display: inline-block;
                padding-top: 20px;
                padding-right: 5px;
                a {
                    color: #000;
                }
            }
        }
        p {
            span {
                display: block;
            }
        }
    }
}
section {
    &.join_section {
        background-color: #000;
        padding-top: 35px;
    }
}
&.join_movement {
    line-height: 30px;
    font-weight: 700;
    .flex-display(flex);
    .justify-content(space-between);
    h2 {
        color: white;
        font-size: 45px;
        margin-left: 14px;
        position: relative;
        line-height: 42px;
        span {
            &.special_case {
                color: @site_color;
            }
            &.sub_head {
                position: relative;
                width: 100%;
                height: 100%;
                top: -13px;
                line-height: normal;
            }
        }
        .line {
            border-left: 3px solid @site_color;
            position: absolute;
            height: 42px;
            left: -14px;
        }
    }
    .rich-text {
        h3,p {
            font-size: 18px;
            color: #fff;
            width: 100%;
        }
    }
    .shift_button {
        font-weight: normal;
        font-size: 18px;
        line-height: 29px;
        background-color: #000;
        padding: 10px 5px;
        border: 1px solid #FD5B27;
        box-sizing: border-box;
        border-radius: 45px;
        color: @site_color;
    }
    .txt_container {
        padding-bottom: 80px;
        width: 60%;
        .fairfield_img {
            padding-top: 20px;
            max-width: 700px;
            width: 100%;
        }
    }
    .graphic_section {
        //max-width: 600px;
        position: relative;
        //left: 10%;
        height: 100%;
        text-align: center;
        a {
            font-size: 23px;
            line-height: 30px;
            position: absolute;
            border-radius: 50px;
            z-index: 100;
            left: 0px;
            right: 0px;
            margin: 0 auto;
            bottom: 10%;
            width: 60%;

        }
        img {
            width: 100%;
        }
    }
}
&.section_resources {
    h2 {
        font-size: 45px;
        font-weight: 600;
        padding-top: 20px;
        margin-left: 14px;
        position: relative;
        .line {
            border-left: 3px solid @site_color;
            position: absolute;
            height: 42px;
            left: -14px;
        }
        &.section_resources_title {
            margin-top: 0px;
            &.members_title {
                margin-bottom: 0px;
            }
        }
    }
    .resource_section {
        .flex-display(flex);
        .flex-direction(row);
        .justify-content(space-between);
        margin-bottom: 50px;
        .resources {
            width: 31%;
            padding-right: 15px;
            a {
                &.resource_button {
                    top: 0px;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 29px;
                    background-color: #fff;
                    padding: 10px 26px;
                    border: 1px solid #FD5B27;
                    box-sizing: border-box;
                    border-radius: 45px;
                    color: @site_color;
                }
            }
            p {
                margin-bottom: 35px;
            }
            img {
                width: 100%;
                &.consortium_img {
                    max-width: 100%;
                    width: 180px;
                }
            }
            &.resource_consortium {
                p {
                    margin-bottom: 0px;
                }
            }
        }
        h2 {
            color: black;
            font-size: 1.2em;
            font-weight: 700;
            margin: 0px;
            span {
                &.special_case {
                    color: @site_color;
                }
            }
        }
    }
    .jm-laop-cons-head{
             margin-top:6px;
            .section_resources_title {
                display:inline-block;
                margin-bottom: 20px;
            }
            a {
                font-weight: normal;
                color: #fff;
                width: 184px;
                background-color: #FD5B27;
                font-size: 18px;
                line-height: 29px;
                border-radius: 40px;
                padding: 12px 30px;
                text-align: center;
                float: right;
                margin-right: 20px;
                margin-top: 12px;
            }
        }
}
.overlay_popup {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    z-index: 9999;
    box-sizing: border-box;
    display: none;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    &.active {
        .flex-display(flex);
    }
}
.modal_popup_wrapper {
    position: absolute;
    left: 0px;
    right: 0px;
    margin: auto;
    width: 85%;
    z-index: 5555;
    box-sizing: border-box;
    display: none;
    &.active {
        display: block;
        &.teampopup {
            background: #fff;
            top: 120px;
            width: 92%;
            min-height: 607px;
            a {
                &.close_ic {
                    color: #000;
                }
            }
            .content_wrapper {
                padding: 40px 40px 40px 40px;
                .flex-display(flex);
                .justify-content(space-around);
                .align-items(flex-start);
                .img_section {
                    width: 38%;
                    img {
                        width: 99%;
                        height: auto;
                    }
                    .name_block {
                        display: none;
                    }
                 }
                .content_section {
                    padding: 0px 30px 0px 50px;
                    width: 55%;
                    h2 {
                        font-weight: 700;
                        font-size: 50px;
                        line-height: 30px;
                        letter-spacing: .58px;
                        font-family: "ProximaNova";
                        // max-width: 500px;
                        color: #000;
                        text-align: left;
                        margin-bottom: 0;
                        .flex-display(flex);
                        .align-items(center);
                        span {
                            font-size: 75px;
                            letter-spacing: .80px;
                            font-weight: 700;
                            color: @site_color;
                            &.thin {
                                font-family: ProximaNovaThin;
                                font-weight: normal;
                                padding: 0px 8px;
                            }
                        }
                        p {
                            font-family: "ProximaNova";
                            font-size: 30px;
                            line-height: 30px;
                            letter-spacing: .35px;
                            margin:0px;
                            font-weight: 700;
                        }
                    }
                    span {
                        .rich-text{
                            p {
                                font-weight: bold;
                            }
                        }
                    }
                    p {
                        font-size: 18px;
                        line-height: 25px;
                        font-weight: normal;
                        color: #000;
                        &.small_text {
                            font-size: 18px;
                            letter-spacing: .23px;
                            margin-top: 12px;
                        }
                        &.bold_txt {
                            font-weight: 300;
                            font-size: 18px;
                            line-height: 25px;
                        }
                    }
                    h3 {
                        font-size: 25px;
                        line-height: 30px;
                        color: @site_color;
                        font-weight: normal;
                    }
                    img {
                        max-width: 100%;
                        height: auto;
                    }
                }
            }
        }

    }
    a {
        &.close_ic {
            position: absolute;
            top: 30px;
            right: 30px;
            font-size: 22px;
            color: #fff;
            z-index: 9999;
        }
    }
}

&.meet_glenn_sections {
    position: relative;
    min-height: 705px;
    .left_img_section {
        width: 25%;
        float: left;
        img {
            &.left_img {
                position: absolute;
                bottom: 0;
            }
        }
    }
    .right_text_section {
        width: 65%;
        float: right;
        margin-right: 111px;
        margin-top: 72px;
        // position: absolute;
        // top: 75px;
        // left: 360px;
        h1 {
            font-size: 50px;
            color: #FD5B27;
            line-height: 41px;
            font-family: ProximaNovaThin;
            font-weight: normal;
        }
        p {
            // color: #fff;
            color: rgba(255, 255, 255, 0.69);
            font-size: 22px;
            line-height: 28px;
            font-family: ProximaNovalt;
            font-weight: normal;
            margin-bottom: 44px;
        }
        a {
            font-weight: normal;
            font-size: 18px;
            line-height: 29px;
            background-color: @site_color;
            padding: 10px 36px;
            border: 1px solid #FD5B27;
            box-sizing: border-box;
            border-radius: 45px;
            color: #fff;
            width: 70%;
        }
    }
}
&.about_section {
    position: relative;
    /*min-height: 450px;*/
    /*width: 74%;*/
    margin: 0 auto;
    top: 38px;
    margin-bottom: 50px;
    h2 {
        font-size: 50px;
        line-height: 41px;
        color: @site_color;
        font-family: ProximaNovaThin;
        font-weight: normal;
        margin-bottom: 38px;
    }
    p {
        font-size: 22px;
        line-height: 28px;
        color: #000;
        font-weight: normal;
        font-family: ProximaNovaThin;
        margin-bottom: 30px;
    }
    .our_team_section {
        h2 {
            text-align: left;
            margin-top: 65px;
            margin-bottom: 30px;
        }
        .flex_section {
            .team_content {
                width: calc(33.33% - 32px);
                margin-right: 25px;
            }
        }
    }
}
&.our_team_section {
    &.aboutpage_section {
        margin-bottom: 50px;
        padding-top: 0;
    }
    position: relative;
    h2 {
        &.about_section_team {
            text-align: left;
            margin: 0;
            margin: 75px 0px 40px 0px;
        }
        font-size: 50px;
        line-height: 41px;
        color: @site_color;
        font-family: ProximaNovaThin;
        font-weight: normal;
        margin-bottom: 38px;
        text-align: center;
        margin: 70px 0px;
    }
    .flex_section {
        .flex-display(flex);
        .flex-wrap(wrap);
        &.flex_start {
            .justify-content(flex-start);
        }
        &.space_bw {
            .justify-content(space-between);
        }
        .team_content {
            position: relative;
            width: calc(33.33% - 15px);
            margin: 5px;
            a {
                display: block;
                position: absolute;
                font-weight: normal;
                font-size: 20px;
                line-height: 29px;
                margin: 15px 0px;
                padding: 10px 25px;
                border: 1px solid #FD5B27;
                box-sizing: border-box;
                border-radius: 45px;
                width: 88%;
                bottom: 0;
                left: 6%;
                color: @site_color;
                text-align: center;
                &:after {
                    font-family: "fontello";
                    content: '\e803';
                    position: absolute;
                    right: -5px;
                    top: -13px;
                    width: 37px;
                    height: 37px;
                    border-radius: 22px;
                    line-height: 39px;
                    text-align: center;
                    background: #FD5B27;
                    color: #fff;
                    font-size: 35px;
                }
            }
            p {
                &.name_text {
                    font-weight: 700;
                    font-size: 22px;
                    line-height: normal;
                    letter-spacing: 0.26px;
                    margin-top: 13px;
                    margin-bottom: 0;
                }
                &.desg_text {
                    font-weight: normal;
                    font-size: 16px;
                    letter-spacing: 0.19px;
                    margin-top: 0;
                    margin-bottom: 25px;
                }
            }
            .team_img_section {
                position: relative;
                img {
                    display: block;
                    width: 100%;
                    &.under
                    {
                        position: relative;
                        left: 0px;
                        top: 0px;
                        z-index: 1;
                        opacity: 0;
                    }
                    &.over{
                        position: absolute;
                        left: 0px;
                        top: 0px;
                        z-index: 2;
                    }
                }
                .overlay {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    height: 100%;
                    width: 100%;
                    opacity: 0.5;
                    transition: .5s ease;
                    background-color: #000;
                    z-index: 50;
                }
                a {
                    z-index: 200;
                }
                &:hover {
                    .overlay {
                        opacity: 0;
                    }
                    a {
                        transition: .5s ease;
                        background-color: @site_color;
                        color: #fff;
                        &:after {
                            // transition: .5s ease;
                            background-color: #fff;
                            color: @site_color;
                        }
                    }
                    .under {
                        opacity: 1;
                    }
                    .over {
                        opacity: 0;
                    }
                }
            }
        }
    }
}

&.top_book_section {
    background-color: rgba(0, 0, 0, .01);
    .book_container {
        width: 95%;
        margin: 0 auto;
        .flex-display(flex);
        .justify-content(space-between);
        .left_img_section {
            margin-top: 77px;
            width: 47%;
            img {
                width: 100%;
                height: auto;
            }
        }
        .right_content_section {
            margin-top: 77px;
            width: 53%;
            .flex-display(flex);
            .justify-content(space-between);
            .align-items(center);
            .flex-wrap(wrap);
            .book_description {
                width: 87%;
                h1 {
                    margin: 0;
                    font-weight: 900;
                    font-size: 40px;
                    line-height: 40px;
                }
                h2 {
                    margin: 0;
                    font-weight: normal;
                    font-size: 30px;
                    line-height: 30px;
                }
                p {
                    font-family: 'ProximaNovaThin';
                    font-weight: normal;
                    font-size: 22px;
                    line-height: 28px;
                    b {
                        font-weight: 300;
                        font-family: 'ProximaNova',sans-serif;
                    }
                }
            }
            .order_section {
                width: 87%;
                margin-top: 16px;
                margin-bottom: 62px;
                p {
                    &.price {
                        font-size: 35px;
                        line-height: 30px;
                        letter-spacing: .41px;
                        color: @site_color;
                        margin-top: 15px;
                        margin-bottom: 0;
                        margin-left: 7px;
                    }
                    &.small_txt {
                        font-size: 15px;
                        line-height: 18px;
                        letter-spacing: .17px;
                        margin-left: 7px;
                    }
                }
                a {
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 29px;
                    background-color: #FD5B27;
                    padding: 10px 26px;
                    border: 1px solid #FD5B27;
                    box-sizing: border-box;
                    border-radius: 45px;
                    color: #fff;
                }
            }
        }
    }
}
&.bottom_video_section {
    width: 88%;
    margin: 0 auto;
    margin-top: 65px;
    margin-bottom: 43px;
    .video_frame {
        iframe {
            width: 100%;
            // height:450px;
        }
    }
}

&.media_page {
    .mobile {
        display: none;
    }
    .container{
        width: 1100px;
    }
    .media_section{
        padding: 60px 0px 0px 40px;
        width: 91%;
        h1 {
            font-size: 45px;
            line-height: 42px;
            font-weight: 600;
        }
    }
    .video_section {
        padding-left: 40px;
        margin-top: -10px;
        // width: 1010px;
        ul {
            list-style: none;
            color: #FD5C28;
            margin-top: 40px;
            margin-left: 0;
            font-size: 22px;
            &.video_categories {
                margin-top: 70px;
                border-bottom: 1px solid #D3D3D3;
                width: 95%;
                padding: 0;
                .flex-display(flex);
                li {
                    border-bottom: none;
                }
            }
            li {
                border-bottom: none;
                padding-bottom: 6px;
                line-height: 56px;
                border-right: 1px solid #D3D3D3;
                span {
                    cursor: pointer;
                    padding: 14px 38px 21px;
                    font-weight: 700;
                   &.active {
                        background-color: #F1F2F4;
                    }
                }
                &:last-child {
                    border-right: none;
                }
            }
        }
    }
    .video_wrapper {
        a {
            color: #000;
        }
        .section {
            border-bottom: 1px solid #D3D3D3;
            clear: both;
            &.media_content_list_block {
                width:50%;
                float: left;
                display: block;
                clear: none;
                border-bottom: none;
                height: 525px;
            }
            img {
                &.video_image {
                    width: 90%;
                }
            }
            .content_block {
                width: 90%;
                padding-bottom: 25px;
                p {
                    &.publication {
                        color: @site_color;
                        margin-top: 8px;
                        margin-bottom: 8px;
                        font-size: 18px;
                        font-weight: 600;
                        line-height: 18px;
                    }
                    &.video_description {
                        font-size: 16px;
                        font-weight: normal;
                        margin: 8px 0;
                        line-height: 20px;
                    }
                    &.play_video {
                        color: @site_color;
                        font-size: 1.25em;
                        font-weight: 800;
                        margin: 0px;
                    }
                }
                h3 {
                    &.video_title {
                        margin: 0px;
                        letter-spacing: 1px;
                        font-weight: 800;
                        font-size: 30px;
                        line-height: 32px;
                    }
                }
            }
        }
    }
}

&.partner_section {
    clear: both;
    padding-top: 50px;
    .partners_sections {
        .flex-display(flex);
        border-bottom: 1px solid #ddd;
        padding: 25px 0px;
        &:last-child {
            border: none;
        }
        .partner_imgsection {
            text-align: center;
            padding-right: 60px;
            img {
                width: 100%;
            }
        }
        .partner_txts {
            width: 85%;
            padding-top: 25px
        }
    }
    .rich_text {
        p {
            font-size: 18px;
            line-height: 25px;
        }
        img {
            display: block;
            margin: 30px auto 30px auto;
        }
        h1 {
            font-size: 45px;
            line-height: 42px;
            font-weight: 600;
            margin-top: 10px;
            margin-bottom: 25px;
        }
        .forbes_link {
            font-size: 16px;
            color: @site_color;
            font-weight: 300;
        }
        .partner_title {
            font-size: 30px;
            font-weight: 300;
            line-height: 25px;
            color: #000;
            display: block;
            margin-bottom: 10px;
        }
        .text_align {
            font-size: 16px;
            line-height: 25px;
            padding: 10px 0px 18px 0px;
        }
    }
}

&.contact_section {
    padding-top: 25px;
    h1 {
        font-size: 45px;
        line-height: 42px;
        font-weight: 600;
        margin-bottom: 30px;
    }
    input {
        width: 100%;
        border: none;
        margin-top: 35px;
        font-family: 'ProximaNova';
        padding: 10px 0px 0px 0px;
        font-size: 16px;
        border-bottom: 1px solid #ddd;
    }
    .name_section {
        .flex-display(flex);
        width: 100%;
        .contact_input{
            width: 100%;
        }
    }
    .contact_btn {
        padding-top: 40px;
        padding-bottom: 30px;
        text-align: center;
        .btn_submit {
            top: 0px;
            width: auto;
            font-weight: normal;
            font-size: 18px;
            line-height: 29px;
            background-color: @site_color;
            padding: 7px 50px;
            border: 1px solid #FD5B27;
            box-sizing: border-box;
            border-radius: 45px;
            color: #fff;
            -webkit-appearance: none;
            &:hover{
                cursor:pointer;
            }
        }
    }
    .success_msg {
        display: block;
        margin-top: 5px;
        color: green;
        letter-spacing: 1px;
        font-size: 20px;
    }
}
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    cursor: pointer;
    line-height: 23px;
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    padding-left: 32px;
    margin: 20px 0px;
    &.active {
        color: @site_color;
    }
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid @site_color;
    border-radius: 100%;

}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #ddd;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
section {
    &.join_movement_page {
        margin: 0px;
        margin-top: 95px;
        min-height: 540px;
        position: relative;
        .flex-display(flex);
        .justify-content(center);
        text-align: center;
        .align-items(center);
        .join_movement_section {
            width: 50%;
            z-index: 600;
            margin: 25px 0px 25px 0px;
            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 100;
            }
            h1,h2,p,img,a {
                position: relative;
                z-index: 200;
                color: #fff;
                line-height: 22px;
            }
            h1,h2 {
                font-size: 27px;
                font-weight: 600;
                font-style: italic;
                margin: 5px;
                padding-bottom: 10px;
            }
            .laop_cons_img {
                width: 100%;
                img {
                    max-width: 479px;
                    width: 100%;
                }
            }
            p {
                font-size: 20px;
                margin: 10px;
                &.description{
                    font-family: ProximaNovaThin;
                    padding-bottom: 25px;
                }
            }
            .shift_button {
                font-weight: 600;
                font-size: 18px;
                line-height: 29px;
                padding: 15px 40px;
                border: 1px solid @site_color;
                box-sizing: border-box;
                border-radius: 45px;
                color: @site_color;
            }
        }
    }
}
.social_media_section {
}
.social_media_container {
    padding: 40px 0px 45px 0px;
    font-size: 50px;
    .flex-display(flex);
    text-align: center;
    .justify-content(center);
    .align-items(center);
    a {
        margin-right: 20px;
        text-decoration: none;
        color: #000;
        height: 50px;
        &:before {
            margin-left: 0px;
            margin-right: 0px;
        }
    }
}
section{
    &.advocate_section {
        background-color: #000;
        color: #fff;
        padding: 50px 0px 20px 0px;
        .rich-text {
            p {
                color: #fff;
            }
        }
        .join_page {
            position: relative;
            padding-bottom: 40px;
            p {
                padding-bottom: 30px;
            }
            .shift_button {
                font-weight: 600;
                font-size: 18px;
                background-color: @site_color;
                padding: 15px 10px;
                box-sizing: border-box;
                border-radius: 45px;
                width: 80%;
                color: #fff;
                &.color_gray {
                    background-color: #00B6CB;
                }
            }
        }
        .table_container {
            .flex-display(flex);
            .justify-content(space-between);
            .first_column {
                width: 60%;
                border-bottom: 1px solid #D8D8D8;
                border-right: 1px solid #D8D8D8;
                font-size: 22px;
                font-weight: 700;
                padding-right: 50px;
                &.title {
                    padding-bottom: : 40px;
                }
                &.no_border {
                    border: none;
                    margin-top: 20px;
                }
                .rich-text {
                    p {
                        padding-bottom: 0px;
                    }
                }
            }
            .icon-checkmark {
                color: @site_color;
                &.color_cyan {
                    color: #00B6CB;
                }
                &.color_white {
                    color: @site_color;
                }
            }
            .third_column {
                color: #00B6CB;
            }
            .second_column {
                color: @site_color;
            }
            .second_column,.third_column {
                width: 20%;
                text-align: center;
                border-bottom: 1px solid #D8D8D8;
                border-right: 1px solid #D8D8D8;
                .flex-display(flex);
                .justify-content(center);
                .align-items(center);
                font-size: 18px;
                font-weight: 600;
                &.title {
                    padding-bottom: 20px;
                }
                &.no_border {
                    border: none;
                    margin-top: 20px;
                }
            }
        }
    }
}
section {
    &.members-section {
        padding: 40px 0px;
        background-color: #000;
        .members_section {
            color: #fff;
            .members_img_section {
                width: 100%;
                img {
                    max-width: 100%;
                    display: block;
                    margin: 0 auto;
                }
            }
        }
    }
}


&.whitepaper_style {
    .team_section {
        h2 {
            text-align: justify !important;
            font-size: 30px;
            font-weight: 700;
        }
        h3 {
            font-size: 20px;
            font-weight: 400;
            margin-top: -23px;
        }
        p {
            font-size: 18px;
        }
        margin-top: 15px;
        margin-bottom: 74px;
        .shift_txt {
            padding-right: 50px;
            color: @site_color;
            font-weight: 600;
            padding-bottom: 15px;
        }
        .shift_button {
            top: 0px;
            font-weight: 600;
            font-size: 18px;
            line-height: 29px;
            background-color: #fff;
            padding: 10px 26px;
            border: 1px solid #FD5B27;
            box-sizing: border-box;
            border-radius: 45px;
            color: @site_color;
        }
        span.btn_txt {
            color: #000;
            font-size: 20px;
            font-weight: 300;
            padding-left: 5px;
            top: 3px;
            position: relative;
            img {
                width: 80px;
            }
        }
        .team_data {
            .flex-display(flex);
            .align-items(center);
            &.hide {
                display: none;
            }
            .team_content {
                width: 70%;
                padding-right: 5%;
            }
            .team_image {
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    h2 {
        font-size: 22px;
        text-align: center !important;
        font-weight: 600;
    }
    .whitepaper_section {
        &.bg_image {
            background-image: url('../graphics/bg11.jpg');
            background-size: cover;
            background-position: center;
            height: 450px;
        }
        padding: 70px 110px 0px;
        display: flex;
        .wh_heading {
            width: 85%;
            h2 {
                font-size: 36px;
                font-weight: 700;
                color:#fff;
                text-align: left !important;
            }
            p {
                padding: 0px 40px 14px 0px;
                font-size: 20px;
                font-weight: 400;
                line-height: 22px;
                color: #fff;
            }
            .shift_button {
                top: 0px;
                font-weight: 600;
                font-size: 18px;
                line-height: 29px;
                padding: 10px 26px;
                border: 1px solid #FD5B27;
                box-sizing: border-box;
                border-radius: 45px;
                color: @site_color;
            }
        }
        .igs_image {
            padding-top: 39px;
            img {
                max-width: 100%;
                height: auto;
            }
        }
    }
    .swiper-slide {
        transition: 700ms -webkit-transform;
        transform-origin: center center;
        transition: 700ms transform;
        .img-display {
            //-webkit-transform: scale(0);
           // transform: scale(1);
            opacity: 0;
            //transition: transform .2s;
            //.transition(.3s, ease-in-out);
            //transition: transform .7s ease-in-out;

           // transition: 500ms transform, 500ms -webkit-transform;
            //background: linear-gradient(to top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
           // transition: 500ms opacity;
            top: 0px;
            left: 0px;
            position: absolute;
            width: 100%;
            height: 100%;

        }
        &.shift_slider {
            background-color: #fff;
        }
        .shift_slide {
            min-height: 120px;
            width: 200px;
            padding-bottom: 20px;
            a {
                img {
                    max-width: 100%;
                    width: 150px;
                    height: auto;
                }
            }
            &.active {
                border-bottom: 3px solid @site_color;
            }
        }
        position: relative;
        text-align: center;
        font-size: 18px;
        background-color: #ddd;
        &.no_image {
            height: auto;
        }
        a {
            .flex-display(flex);
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            .justify-content(center);
            .align-items(center);
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;

            }
            span.overlay {
                // background-color: #000;
                opacity: .2;
                content: "";
                height: 100%;
                width: 100%;
                z-index: 1;
                position: absolute;
                top: 0;
                display: block;

            }
            span.swipe_btn{
                display: none;
                font-size: 23px;
                line-height: 30px;
                color: #fff;
                position: absolute;
                background-color: rgba(0,0,0,0.5);
                top: 50%;
                padding: 10px;
                -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                -moz-transform: translateY(-50%);
                transform: translateY(-50%);
                border-radius: 50px;
                width: 140px;
                z-index: 100;
                margin: 0;
                &:after {
                    font-family: "fontello";
                    content: '\e807';
                    color: #d7d7d7;
                    padding-left: 10px;
                    opacity: 0.61;
                }
                 &:before {
                    font-family: "fontello";
                    content: '\e806';
                    color: #d7d7d7;
                    padding-right: 10px;
                    opacity: 0.61;
                }
            }

        }
        &.team_bg{
            border-bottom: 3px solid @site_color;
        }
    }
    .swiper_direction {
        .swiper-button-next {
            background-image: url('../graphics/slider_right_arrow.png');
            background-color: rgba(0,0,0,0.5);
            width: 60px;
            height: 100%;
            position: absolute;
            top: 0px;
            right: 0;
            z-index: 1000;
        }
        .swiper-button-prev {
            background-image: url('../graphics/slider_left_arrow.png');
            background-color: rgba(0,0,0,0.5);
            width: 60px;
            height: 100%;
            position: absolute;
            top: 0px;
            left: 0;
            z-index: 1000;
        }
        .swiper-button-next,
        .swiper-button-prev {
            z-index: 1000;
            background-size: 15px;
            margin: 0px;
            height: 99%;
            &.swiper-button-disabled {
                display: none;
            }
            &:focus {
                outline: none;
            }
        }
    }
}
&.contact_section {
    fieldset {
        border: none;
        position: relative;
        width: 100%;
        
        padding-bottom: 1px;
        padding-left: 0px;
        padding-right: 0px;
        &:first-child {
            margin-right: 30px;
        }
    }
    input {
        width: 100%;
        font-size: 16px;
        border-radius: 2px;
    }
    input:focus {
        outline: none;
    }
    input + label {
        display: block;
        cursor: text;
        color: #777;
        transition: .15s ease-out all;
        position: absolute;
        pointer-events: none;
        bottom: 10px;
        left: 0px;
    }
    input:focus + label,
    label.stay {
        bottom: 40%;
        left: 0px;
        font-size: 13px;
        font-weight: bold;
        transition: .15s ease-out all;
    }
}
#html5-lightbox-overlay {
    opacity: unset !important;
    background-color: rgba(255, 255, 255, 0.84) !important;
}
.html5-elem-box, .html5-elem-wrap {
    // background: #fff;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.10);
    -webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,0.10);
    -moz-box-shadow: 0 2px 10px 0 rgba(0,0,0,0.10);
    -ms-box-shadow: 0 2px 10px 0 rgba(0,0,0,0.10);
    -o-box-shadow: 0 2px 10px 0 rgba(0,0,0,0.10);
}
#html5-lightbox-box {
    .html5-image {
        padding: 50px 25px 25px 25px !important;
        iframe {
            // padding: 25px 0px 0px 0px !important;
        }
    }
    #html5-close {
        right: 25px !important;
        top: 25px !important;
        // padding: 15px 0px 0px 0px;
    }
    #html5-watermark {
        display: none !important;
    }
}
.pop_up,.pop_up_contact {
    display:none;
    padding-top:15%;
    position:fixed;
    left:0;
    z-index: 10000;
    top:0;
    width:100%;
    height:100%;
    overflow:auto;
    background-color:rgb(0,0,0);
    background-color:rgba(0,0,0,0.4);
    &.download_pop_up {
        padding: 0;
    }
    .pop_up_content {
        margin:auto;
        background-color:#fff;
        position:relative;
        padding:35px;
        outline:0;
        width:600px;
        &.download_pop_up {
            position: absolute;
            top: 50px;
            left: 0;
            right: 0;
            margin: auto;
            width: 680px;
        }
        p {
            &.popup_head {
                font-weight: 700;
                font-size: 24px;
            }
            &.download_page {
                margin: 0px;
            }
        }
        a{
            color: #000;
        }
        .icon-close_popup {
            position: absolute;
            top: 10px;
            right: 10px;
            padding: 5px;
            font-size: 20px;
            cursor: pointer;
            &:before {
                content: '\e804';
                font-family: "fontello";
            }
        }
        .nav_button {
            width: 155px;
            height: 50px;
            margin: 0 auto;
            margin-top: 30px;
            text-align: center;
            color: #fff;
            font-weight: 800;
            font-size: 21px;
            padding: 20px;
            border-radius: 4px;
            background-color: #01A9BE;
            display: -webkit-flex;
            display: flex;
            align-items: center;
            -webkit-align-items: center;
            box-sizing: border-box;
            &.download_pop_up {
                background-color: @site_color;
                width: 210px;
                border-radius: 45px;
                font-weight: 500;
                font-size: 18px;
                padding: 25px 30px 25px 30px;
                margin: 0px;
            }
            &.join_page {
                background-color: @site_color;
                border-radius: 45px;
                font-weight: 400;
                margin: 0px;
                font-size: 18px;
                width: 160px;
                padding: 25px;
                margin: 30px 0px;
            }
        }
        .downlaod_description {
            margin: 20px 0px 20px 0px;
        }
    }
}